<!DOCTYPE html>
<html ng-app="eSahai">

<head>
    <meta charset="utf-8">
    <title>eSahai Web Portal</title>
    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="keywords" content="ng-map,AngularJS,center">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <link rel="shortcut icon" href="images/logo.png">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/fontFamily.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
</head>

<body ng-controller="mainCtrl" ng-cloak>
    <div id="loader" ng-show="NProgress"></div>
    <div id="page-wrapper">
        <div class="preloader themed-background">
        </div>
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
            <!-- Main Sidebar -->
            <div id="sidebar" ng-show="(loginStatus && admin.statusCode != '302' && admin.userType != 'user')">
                <!-- Wrapper for scrolling functionality -->
                <div class="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Brand -->
                        <a href="#/" class="sidebar-brand">
                            <img src="images/logo.png" height="100%" id="logoEsahai">
                            <strong>eSahai </strong>
                        </a>
                        <!-- END Brand -->
                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav">
                            <li> <a href="javascript:void(0)" ng-click="gotoHome();loadDashboard()" ng-class="{'active':activeTab.dashboard}"><i class="fa fa-tachometer sidebar-nav-icon"></i>Dashboard</a> </li>
                            <li ng-if="admin.userType != 'GROUP ADMIN' && admin.userType != 'CUSTOMER CARE EXECUTIVE'"> <a href="javascript:void(0)" ng-click="gotoUsers();" ng-class="{'active':activeTab.userMaster}"><i class="fa fa-user sidebar-nav-icon"></i>User Master</a> </li>
                            <li ng-if="admin.userType != 'GROUP ADMIN'"> <a href="javascript:void(0)" ng-click="gotoGroupMaster();" ng-class="{'active':activeTab.groupMaster}"><i class="fa fa-users sidebar-nav-icon"></i>Group Master</a> </li>
                            <li> <a href="javascript:void(0)" ng-click="gotoAmbulanceMaster();" ng-class="{'active':activeTab.ambulanceMaster}"><i class="fa fa-ambulance sidebar-nav-icon"></i>Ambulance Master</a> </li>
                            <li> <a href="javascript:void(0)" ng-click="gotoDriverMaster();" ng-class="{'active':activeTab.driverMaster}"><i class="fa fa-bus sidebar-nav-icon"></i>Driver Master</a> </li>
                            <li ng-if="admin.userType != 'GROUP ADMIN'"> <a href="javascript:void(0)" ng-click="gotoCustomerMaster();" ng-class="{'active':activeTab.customerMaster}"><i class="fa fa-smile-o sidebar-nav-icon"></i>Customer Master</a> </li>
                            <li> <a href="#" class="sidebar-nav-menu" ng-class="{'open':activeTab.tab=='job'}"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="fa fa-bolt sidebar-nav-icon"></i>Job Board</a>
                                <ul ng-style="{'display':(activeTab.tab=='job') ? 'block' : 'none'}">
                                    <li> <a href="javascript:void(0)" ng-click="gotoMap();" ng-class="{'active':activeTab.map}">Map</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoAmbulance();" ng-class="{'active':activeTab.ambulance}">Ambulance</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoBooking();" ng-class="{'active':activeTab.booking}">Booking</a> </li>
                                </ul>
                            </li>
                            <li ng-hide="admin.userType == 'GROUP ADMIN' || admin.userType == 'EMPLOYEE'|| admin.userType == 'CUSTOMER CARE EXECUTIVE'">
                                <a href="#" class="sidebar-nav-menu" ng-class="{'open':activeTab.tab=='settings'}"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="fa fa-cogs sidebar-nav-icon"></i>Settings</a>
                                <ul ng-style="{'display':(activeTab.tab=='settings') ? 'block' : 'none'}">
                                    <li> <a href="javascript:void(0)" ng-click="gotoGroupType();" ng-class="{'active':activeTab.groupType}">Group Type</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoEmergencyType();" ng-class="{'active':activeTab.emergencyType}">Emergency Type</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoUserType();" ng-class="{'active':activeTab.userType}">User Type</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoVehicleType();" ng-class="{'active':activeTab.vehicleType}">Vehicle Type</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoCustomerAttributes();" ng-class="{'active':activeTab.customerAttribute}">Customer Attributes</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoAmbulanceAttributes();" ng-class="{'active':activeTab.ambulanceAttribute}">Ambulance Attributes</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoGroupAttributes();" ng-class="{'active':activeTab.groupAttribute}">Group Attributes</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoRateCard();" ng-class="{'active':activeTab.rateCard}">Rate Card</a> </li> 
                                </ul>
                            </li>
                            <li ng-hide="admin.userType == 'GROUP ADMIN' || admin.userType == 'EMPLOYEE' || admin.userType == 'CUSTOMER CARE EXECUTIVE'">
                                <a href="#" class="sidebar-nav-menu" ng-class="{'open':activeTab.tab=='appSettings'}"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="fa fa-bookmark sidebar-nav-icon"></i>App Settings</a>
                                <ul ng-style="{'display':(activeTab.tab=='appSettings') ? 'block' : 'none'}">
                                    <li> <a href="javascript:void(0)" ng-click="goToCCS();" ng-class="{'active':activeTab.ccs}">Command Center Setting</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="goToSMS();" ng-class="{'active':activeTab.smsSetting}">SMS Setting</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoAppVersion();" ng-class="{'active':activeTab.appVersion}">APP Version</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoTermsAndConditions();" ng-class="{'active':activeTab.tNc}">Terms &amp; Conditions</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoFAQ();" ng-class="{'active':activeTab.faq}">FAQ</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoPrivacyAndPolicies();" ng-class="{'active':activeTab.pNp}">Privacy &amp; Policies</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoComeToKnowBy();" ng-class="{'active':activeTab.comeToKnowBy}">Come To Know By</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoCountryList();" ng-class="{'active':activeTab.countryList}">Country List</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="gotoStatusList();" ng-class="{'active':activeTab.statusList}">Status List</a> </li>
                               <!--     <li> <a href="javascript:void(0)" ng-click="gotoGeoHashes();" ng-class="{'active':activeTab.geoHashes}">Geo Hashes</a> </li>-->
                                </ul>
                            </li>
                            <li ng-hide="admin.userType == 'GROUP ADMIN'">
                                <a href="#" class="sidebar-nav-menu" ng-class="{'open':activeTab.tab=='logs'}"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="fa fa-list-alt sidebar-nav-icon"></i>Logs</a>
                                <ul ng-style="{'display':(activeTab.tab=='logs') ? 'block' : 'none'}">
                                    <li> <a href="javascript:void(0)" ng-click="goToPNLogs();" ng-class="{'active':activeTab.pn}">PN Logs</a> </li>
                                    <li> <a href="javascript:void(0)" ng-click="goToSMSLogs();" ng-class="{'active':activeTab.sms}">SMS Logs</a> </li>
                                </ul>
                            </li>
                            <li> <a href="javascript:void(0)" ng-click="gotoFeedback();" ng-class="{'active':activeTab.feedBack}"><i class="fa fa-comments-o sidebar-nav-icon" aria-hidden="true"></i>Feedback</a> </li>
                            <li> <a href="javascript:void(0)" ng-click="gotoPromoBanners();" ng-class="{'active':activeTab.promoBanner}"><i class="fa fa-upload sidebar-nav-icon" aria-hidden="true"></i>Promo Banners</a> </li>
                        </ul>
                        <!-- END Sidebar Navigation -->
                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->
            <!-- Main Container -->
            <div id="main-container" ng-class="{'fullScreen':!loginStatus}">
                <header class="navbar navbar-default loginStatus" ng-show="loginStatus">
                    <ul class="nav navbar-nav-custom">
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav-custom pull-right">
                        <!-- <li class="selectApp">
                            <label>Select Application</label>
                        </li>
                        <li>
                            <div class="form-group selectApp">
                                <select class="form-control" size="1" ng-model="selApp" ng-options="app as app.app_name for app in appMasterList" ng-change="userAppChanged(selApp);">
                                    <option value="" ng-if="false"></option>
                                </select>
                            </div>
                        </li> -->
                        <li ng-cloak>
                            <a href="javascript:void(0)">
                                <span>Welcome <strong>{{admin.displayName}}</strong><span class="capitalize"> ({{admin.userType}})</span></span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                <li class="dropdown-header text-center">Account</li>
                                <li>
                                    <a href ui-sref="Change-Password"> Change Password
                                            <i class="fa fa-unlock fa-fw pull-right"></i>
                                        </a>
                                    <a href ng-click="logout(true);"> Sign Out
                                            <i class="fa fa-sign-out fa-fw pull-right"></i>
                                        </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </header>
                <div id="page-content" style="min-height:620px">
                    <div ui-view></div>
                </div>
                <!-- <footer class="clearfix loginStatus" ng-show="loginStatus">
                    <div class="pull-right">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://www.techvedika.com/" target="_blank">Tech Vedika</a>
                    </div>
                    <div class="pull-left">
                        <span id="year-copy"></span> &copy; <a href target="_blank">Tata Docomo</a>
                    </div>
                </footer> -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->
    </div>
    <!-- END Page Wrapper -->
    <script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyDqAWjnqnaLBbYSTbr6A_FwGwldXUS5kB4&libraries=geometry,places&region=IN&language=en&sensor=true"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/markerwithlabel.js"></script>
    <!-- <script src="js/googleMap.js"></script> -->
    <script src="js/angular.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <!-- Firebase -->
    <!-- AngularFire -->
    <script src="js/angularfire.min.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDTpN3vvdZYvAxTh85rX46z89EyRFbrdnM",
    authDomain: "personalchat-3f73c.firebaseapp.com",
    databaseURL: "https://personalchat-3f73c.firebaseio.com",
    storageBucket: "personalchat-3f73c.appspot.com",
    messagingSenderId: "896625640122"
  };
  firebase.initializeApp(config);
</script>
    <!-- multiselect lib -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>-->
    <script type="text/javascript" src="js/angularjs-dropdown-multiselect.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="js/angular-geohash.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/ng-map.min.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/pages/uiProgress.js"></script>
    <script src="js/ckeditor/ckeditor.js"></script>
    <script src="js/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="js/FileSaver.js"></script>
    <!-- END User Settings -->
    <script src="js/angular-file-upload.min.js"></script>
    <script src="config/route.js"></script>
    <script src="config/Base64.js"></script>
    <script src="config/settings.js"></script>
    <script src="controllers/mainCtrl.js"></script>
    <script src="controllers/loginCtrl.js"></script>
    <script src="controllers/homeCtrl.js"></script>
    <script type="text/javascript" src="controllers/usersCtrl.js"></script>
    <script type="text/javascript" src="controllers/userTypeCtrl.js"></script>
    <script type="text/javascript" src="controllers/groupTypeCtrl.js"></script>
    <script type="text/javascript" src="controllers/emergencyTypeCtrl.js"></script>
    <script type="text/javascript" src="controllers/vehicleTypeCtrl.js"></script>
    <script type="text/javascript" src="controllers/groupMasterCtrl.js"></script>
    <script type="text/javascript" src="controllers/ambulanceMasterCtrl.js"></script>
    <script type="text/javascript" src="controllers/driverMasterCtrl.js"></script>
    <script type="text/javascript" src="controllers/customerMasterCtrl.js"></script>
    <script type="text/javascript" src="controllers/mapCtrl.js"></script>
    <script type="text/javascript" src="controllers/bookingCtrl.js"></script>
    <script type="text/javascript" src="controllers/ambulancesCtrl.js"></script>
    <script type="text/javascript" src="controllers/customerAttributesCtrl.js"></script>
    <script type="text/javascript" src="controllers/groupAttributesCtrl.js"></script>
    <script type="text/javascript" src="controllers/ambulanceAttributesCtrl.js"></script>
    <script type="text/javascript" src="controllers/smsSettingsCtrl.js"></script>
    <script type="text/javascript" src="controllers/rateCardCtrl.js"></script>
    <script type="text/javascript" src="controllers/appVersionCtrl.js"></script>
    <script type="text/javascript" src="controllers/changePwdCtrl.js"></script>
    <script type="text/javascript" src="controllers/termsNcondiCtrl.js"></script>
    <script type="text/javascript" src="controllers/commandCenterCtrl.js"></script>
    <script type="text/javascript" src="controllers/pnLogsCtrl.js"></script>
    <script type="text/javascript" src="controllers/smsLogsCtrl.js"></script>
    <script type="text/javascript" src="controllers/faqCtrl.js"></script>
    <script type="text/javascript" src="controllers/privacyNpoliciesCtrl.js"></script>
    <script type="text/javascript" src="controllers/comeToKnowByCtrl.js"></script>
    <script type="text/javascript" src="controllers/countryListCtrl.js"></script>
    <script type="text/javascript" src="controllers/statusListCtrl.js"></script>
    <script type="text/javascript" src="controllers/geoHashesCtrl.js"></script>
    <script type="text/javascript" src="controllers/feedbackCtrl.js"></script>
    <script type="text/javascript" src="controllers/promoBannerCtrl.js"></script>
</body>

</html>
