<!DOCTYPE html>
<html ng-app="tataResetApp">
    <head>
        <meta charset="utf-8">

        <title>eSahai</title>
        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <link rel="shortcut icon" href="images/tata-docomo.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/plugins.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/themes.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    </head>
    <body ng-controller="tataResetAppCtrl">
        <!-- <div id="loader" ng-show="NProgress"></div> -->
        <div id="page-wrapper">
            <div class="preloader themed-background">
                <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
                <div class="inner">
                    <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>
                    <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
                </div>
            </div>
            <div id="page-container" >

                <div id="main-container" ng-class="{'fullScreen':!loginStatus}">

                    <header class="navbar navbar-default loginStatus">
                    	<h2 class="text-center">eSahai</h2>
                    </header>

                    <div id="page-content">




<div class="col-md-4"></div>
<div class="block col-md-4">
	<div class="block-title">
		<h2>Reset Password</h2>
	</div>
	<form class="form-horizontal form-bordered changePsw">

		<div class="col-xs-12">
			<div class="form-group" ng-class="(err.new == true) ? 'has-error' : 'has-primary' ">
				<label class="control-label" for="New">New Password</label>
				<input type="password" ng-model="psw.new" ng-focus="err.new = false;" name="New" class="form-control" placeholder="New password">
				<div class="errors">
					<p class="text-danger" ng-show="err.new">Please enter new password".</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group" ng-class="(err.confirm == true || err.confirmMatch == true) ? 'has-error' : 'has-primary' ">
				<label class="control-label" for="confirm">Confirm Password</label>
				<input type="password" ng-model="psw.confirm" ng-focus="err.confirm = false;err.confirmMatch = false;" name="confirm" class="form-control" placeholder="Confirm password">
				<div class="errors">
					<p class="text-danger" ng-show="err.confirm">Please enter confirm password".</p>
					<p class="text-danger" ng-show="err.confirmMatch">Confirm password should match to new password".</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group form-actions" style="margin: 10px 0px;">
				<!-- <div class="col-xs-4"> -->
					<button type="submit" class="btn btn-block btn-primary" ng-click="savePassword();">Save</button>
				<!-- </div> -->
			</div>
		</div>
	</form>
</div>












                    </div>

                    <footer class="clearfix loginStatus" ng-show="loginStatus" >
                        <div class="pull-right">
                            Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://www.techvedika.com/" target="_blank">Tech Vedika</a>
                        </div>
                        <div class="pull-left">
                            <span id="year-copy"></span> &copy; <a href target="_blank">eSahai</a>
                        </div>
                    </footer>

                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->


        <script src="js/vendor/jquery-1.11.1.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
        <script src="js/pages/uiProgress.js"></script>
        <script src="js/pages/login.js"></script>
        <script src="js/pages/tablesDatatables.js"></script>
        <script src="js/ckeditor/ckeditor.js"></script>

        <!-- END User Settings -->
        <script src="js/angular.js"></script>
        <script type="text/javascript" src="controllers/tataResetAppCtrl.js"></script>

    </body>
</html>
