[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#main-container.fullScreen {
    margin-left: 0px;
}

.selectApp {
    padding: 5px 7px;
    line-height: 40px;
    text-align: center;
    color: #394263;
    position: relative;
    margin-bottom: 0px;
}

.selectApp .col-xs-6 {
    padding: 0px;
}

.opacity {
    opacity: 0.3;
}

.hotspotTable {
    display: block;
    overflow-y: auto;
}

.hotspotTable thead th {
    text-align: center;
}

.hotspotTable thead th,
.hotspotTable tbody td {}

.hotspotTable tbody td:first {
    min-width: 40px;
}

.hotspotTable tbody td:nth-child(2) {
    min-width: 180px;
}

.hotspotTable tbody td:nth-child(3) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(4) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(5) {
    min-width: 200px;
}

.hotspotTable tbody td:nth-child(6) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(7) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(8) {
    min-width: 200px;
}

.hotspotTable tbody td:nth-child(9) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(10) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(11) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(12) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(13) {
    min-width: 400px;
}

.hotspotTable tbody td:nth-child(14) {
    min-width: 100px;
}

.hotspotTable tbody td:nth-child(15) {
    min-width: 100px;
}

.hotspotTable thead th:first {
    min-width: 40px;
}

.hotspotTable thead th:nth-child(2) {
    min-width: 180px;
}

.hotspotTable thead th:nth-child(3) {
    min-width: 200px;
}

.hotspotTable thead th:nth-child(4) {
    min-width: 100px;
}

.hotspotTable thead th:nth-child(5) {
    min-width: 200px;
}

.hotspotTable thead th:nth-child(6) {
    min-width: 100px;
}

.hotspotTable thead th:nth-child(7) {
    min-width: 100px;
}

.hotspotTable thead th:nth-child(8) {
    min-width: 250px;
}

.hotspotTable thead th:nth-child(9) {
    min-width: 200px;
}

.hotspotTable thead th:nth-child(10) {
    min-width: 200px;
}

.hotspotTable thead th:nth-child(11) {
    min-width: 200px;
}

.hotspotTable thead th:nth-child(12) {
    min-width: 200px;
}

.hotspotTable thead th:nth-child(13) {
    min-width: 400px;
}

.hotspotTable thead th:nth-child(14) {
    min-width: 100px;
}

.hotspotTable thead thead:nth-child(15) {
    min-width: 100px;
}

.hotspotTable thead th:nth-child(17) {
    min-width: 160px;
}

#advertisementTable thead tr th:nth-child(4) {
    max-width: 200px;
    word-wrap: break-word;
}

#advertisementTable tbody tr td:nth-child(4) {
    max-width: 200px;
    word-wrap: break-word;
}

.hotspotForm {
    padding-bottom: 20px;
}

.hotspotForm .fields {
    padding: 20px;
}

.hotspotForm .fields .form-group {
    padding: 0px 0px 20px 0px;
}

.changePsw .errors p,
.hotspotForm .errors p {
    position: absolute;
    right: 35px;
}

.changePsw .errors {
    min-height: 5px;
}


/*
@media (min-width: 768px){
	#confirmation .modal-dialog {
	    width: 400px;
	    margin: 30px auto;
	}
}*/

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.63);
}

.fileClose {
    padding-top: 3px;
    font-size: 20px;
}

.fileClose i {
    cursor: pointer;
}

.fileClose i:hover {
    color: #d9534f;
}

.chooseFile {
    font-size: 13px;
    padding: 4px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #394263;
    border: 1px solid #dbe1e8;
    border-radius: 4px;
}

.has-error .chooseFile {
    border-color: #e74c3c;
    background-color: #ffffff;
    color: #e74c3c;
}

.hotspotTable.table-striped>tbody>tr.highlight:nth-child(odd)>td,
.hotspotTable.table-striped>tbody>tr.highlight:nth-child(even)>td,
.hotspotTable.table-hover>tbody>tr.highlight:nth-child(odd)>td,
.hotspotTable.table-hover>tbody>tr.highlight:nth-child(even)>td {
    background-color: #1bbae1;
    color: white;
}

.hotspotTable tr td {
    cursor: pointer;
}

.hotspotListTop {
    margin-bottom: 2px;
}

.selectApp select {
    border: none;
    background: transparent;
    margin-top: 4px;
}

@media only screen and (min-width: 768px) {
    #appMaster thead th:nth-child(4) {
        max-width: 100px;
        word-wrap: break-word;
    }
    #appMaster thead th:nth-child(5) {
        max-width: 100px;
        word-wrap: break-word;
    }
    #appMaster tbody td:nth-child(4) {
        max-width: 100px;
        word-wrap: break-word;
    }
    #appMaster tbody td:nth-child(5) {
        max-width: 100px;
        word-wrap: break-word;
    }
    .messageLogTable thead th:nth-child(7) {
        max-width: 100px;
        word-wrap: break-word;
    }
    .messageLogTable tbody td:nth-child(7) {
        max-width: 100px;
        word-wrap: break-word;
    }
}

.noPad {
    padding: 0px;
}

.pad2px {
    padding-left: 2px;
    padding-right: 2px;
}

.pad10{
	padding: 10px;
}

.form-control {
    height: initial;
}

.date_PNLog .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fff;
    cursor: pointer;
}

.date_PNLog .getBtn button {
    height: 32px;
    padding: 5px;
    width: 42px;
    background-color: #FFFFFF;
}

.date_PNLog .getBtn button i {
    font-size: 20px;
    color: #1BBAE1;
}

.widget-content h1 {
    min-height: 39px;
}

.pad0L {
    padding-left: 0px;
}

.pad0R {
    padding-right: 0px;
}

#mRConst {
    overflow-y: auto;
}

#mRConst>table>thead>tr>th {
    text-align: center;
}

#mRConst>table>tbody>tr>td {
    text-align: center;
}

#appTable {
    overflow-y: auto;
}

#appTable>table>thead>tr>th {
    text-align: center;
}

#appTable>table>tbody>tr>td {
    text-align: center;
}

#example-datatable>table>thead>tr>th {
    text-align: left;
}

#mSelBtn {
    /*width: 403px;*/
    background-color: initial;
    /*text-align: left;*/
    //border-color: #dbe1e8;
}

#mSelBtn span {
    text-align: right;
}

.justBorder {
    border-color: #e74c3c;
}

.noBorder {
    border: none;
}

#editFile {
    position: relative;
    top: 20px;
    left: 384px;
    font-size: 15px;
    z-index: 2;
}

.imageName {
    opacity: 0.75;
    height: 200px;
    width: 400px;
    border: 10;
    border: 1px solid #021a40;
    font-color: red;
}

.circle-btn {
    border-color: #e74c3c !important;
}

.capitalize {
    text-transform: capitalize;
}

span.fa-eye {
    padding: 2px;
    font-size: 15px;
    color: #64706c;
}

span.fa-pencil-square-o {
    padding: 2px;
    font-size: 15px;
    color: #9068be;
}

span.fa-trash {
    padding: 2px;
    font-size: 15px;
    color: #7d4627;
}

span.fa-fa-trash-admin {
    padding: 2px;
    font-size: 15px;
    color: #64706c;   
}

.box1 {
    padding: 10px;
    background: #F9FAFC;
    font-weight: bold;
}

.box2 {
    padding: 10px;
}

.bb {
    border: 1px solid #EAEDF1;
}

.margin10 {
    margin: 15px 5px;
}

div.multiselect-parent > button {
    font-size: 13px;
    background-color: #ffffff;
}

div.multiselect-parent > button > span.caret {
    margin-left: 208px;
}

div.multiselect-parent > ul.dropdown-menu {
    min-width: 307px;
}

div.multiselect-parent > ul.dropdown-menu > li {
    background-color: #ffffff;
}

div.multiselect-parent > button:hover {
    background-color: #ffffff;
}

div.multiselect-parent > button:active {
    background-color: #ffffff;
}


/*div.multiselect-parent > button{
	font-size: 13px;
}*/


/*.btn .caret {
    margin-left: 199px;
}*/

#mapAttr {
    width: 450px;
    height: 351px;
    margin-left: 5px;
}

.noPointer {
    pointer-events: none;
}

.noPointer1 {
    color: #333 !important;
    pointer-events: none;
}

.mb20 {
    margin-bottom: 20px;
}

#sidePan {
    padding: 1px;
    height: 431px;
}

#green {
    font-size: 14px;
    padding: 2px;
    background: #7bbd28;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #7F7F7F solid 1px;
    text-align: center;
    color: #fff;
}

#green:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #7bbd28 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

#red {
    font-size: 14px;
    padding: 2px;
    background: #ef1e08;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #7F7F7F solid 1px;
    text-align: center;
    color: #fff;
}

#red:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #ef1e08 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

#gray {
    font-size: 14px;
    padding: 2px;
    background: #808080;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #7F7F7F solid 1px;
    text-align: center;
    color: #fff;
}

#gray:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #808080 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

#inlineEdit{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    color: #9068BE;
}

#logoEsahai{
    padding: 5px 0px;
}

#word-wrap{
    word-wrap: break-word;
}

#ambLogOut{
    font-weight: 900;
    color: salmon;
}

.assign{
    width: 60px;
    background-color: #581845;
    border: none !important;
}

.transfer{
    width: 60px;
    background-color: #FFC300;
    border: none !important;
}

.cancel{
    width: 60px;
    background-color:#FF5733;
    border: none !important;
}

.track{
    width: 60px;
    background-color: #43B004;
    border: none !important;
}

.assign:hover{
    background-color: #1D1D1D !important;;
}

.transfer:hover{
    background-color: #1D1D1D !important;;
}

.cancel:hover{
    background-color: #1D1D1D !important;;
}

.track:hover{
    background-color: #1D1D1D !important;;
}

.assign:active{
    background-color: #222222 !important;;
}

.transfer:active{
    background-color: #222222 !important;;
}

.cancel:active{
    background-color: #222222 !important;;
}

.track:active{
    background-color: #222222 !important;;
}


.selWidth{
   width: 70px;
}

#example-datatable_length label select{
padding: 6px 2px;
}

.txt{
padding-left : 45px;
}

.mt5 {
    margin-top: 7px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: medium !important;
    font-weight: 100 !important;
    padding-right: 18px;
    display: inline-block;
}

.labelnew {
    font-weight: 100 !important;
    padding-right: 19px;
}


#editBanner {
    position: relative;
    top: 20px;
    left: 384px;
    font-size: 15px;
    z-index: 2;
}