<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>

    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="form-group">
            <div class="form-group" ng-class="(err.ambulance_number == true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label" for="ambulance_number">Ambulance Number</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="ambulance.ambulance_number" ng-focus="err.ambulance_number=false;" name="ambulance_number" class="form-control" placeholder="Enter ambulance number..">
                </div>
                <div class="col-xs-4">
                    <span class="text-danger" ng-show="err.ambulance_number">Please enter ambulance number .</span>
                </div>
            </div>
            <div class="form-group " ng-class="(err.group_id==true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label " for="group_id ">Group</label>
                <div class="col-xs-5">
                    <select class="form-control " size="1" ng-model="ambulance.group_id" ng-class="(err.group_id==true) ? 'justBorder' : '' " ng-focus="err.group_id=false ">
                        <option value="">- Select Group -</option>
                        <option ng-repeat="group in globalGroupMasterList" value={{group.group_id}}>{{group.group_name}}</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <span class="text-danger " ng-show="err.group_id">Please select group type.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.vehicle_type == true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label" for="group_short_name">Vehicle Type</label>
                <div class="col-xs-5">
                    <select class="form-control" size="1" ng-model="ambulance.vehicle_type" ng-class="(err.vehicle_type==true) ? 'justBorder' : '' " ng-focus="err.vehicle_type=false">
                        <option value="">- Select Vehicle Type -</option>
                        <option ng-repeat="vehicleType in vehicleTypeList" value={{vehicleType.vehicle_id}}>{{vehicleType.type_name}}</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <span class="text-danger" ng-show="err.vehicle_type">Please select vehicle type.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label" for="selectedEmergencyType">Emergency Type</label>
                <div class="col-xs-5">
                   <!--  <select class="form-control " size="1" ng-model="ambulance.emergency_type" ng-class="(err.emergency_type==true) ? 'justBorder' : '' " ng-focus="err.emergency_type=false ">
                        <option value="">- Select Emergency Type -</option>
                        <option ng-repeat="emergencyType in emergencyTypeList" value={{emergencyType.id}}>{{emergencyType.type_name}}</option>
                    </select> -->
                    <div ng-dropdown-multiselect="" class="multipleSelect" extra-settings="dropdownSettings" options="emergencyTypeOptions" selected-model="selectedEmergencyType" ng-focus="err.selectedEmergencyType=false" translation-texts="translationText" checkboxes="true">
                    </div>
                    <!-- <div ng-dropdown-multiselect="" ng-model="ambulance.emergency_type" extra-settings="dropdownSetting" options="emergencyList" selected-model="selectedEmergency" checkboxes="true"> -->
                </div>
                <div class="col-xs-4">
                    <span class="text-danger" ng-show="err.selectedEmergencyType">Please select emergency type.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label" for="device_imei ">Device IMEI</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="ambulance.device_imei" name="device_imei " class="form-control" placeholder="Enter device imei..">
                </div>
                <!-- <div class="col-xs-4">
                    <span class="text-danger" ng-show="err.device_imei">Please enter imei.</span>
                </div> -->
            </div>
            <div class="form-group" >
                <label class="col-xs-3 control-label " for="device_type">Device Type</label>
                <div class="col-xs-5">
                    <select class="form-control" size="1" ng-model="ambulance.device_type">
                        <option value=" ">- Select Device OS -</option>
                        <option value="Android">Android</option>
                        <option value="iOS">iOS</option>
                    </select>
                </div>
                <!-- <div class="col-xs-4">
                    <span class="text-danger " ng-show="err.device_os ">Please enter device token.</span>
                </div> -->
            </div>
            <div class="form-group" ng-class="(err.device_os==true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label " for="device_os ">Device OS</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="ambulance.device_os " name="deviceType " class="form-control " placeholder="Enter device os..">
                </div>
                <!-- <div class="col-xs-4">
                    <span class="text-danger " ng-show="err.device_os ">Please enter device token.</span>
                </div> -->
            </div>
            <div class="form-group" ng-class="(err.device_token==true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label " for="device_token ">Device Token</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="ambulance.device_token "  name="device_token " class="form-control " placeholder="Enter device token.. ">
                </div>
                <!-- <div class="col-xs-4">
                    <span class="text-danger " ng-show="err.device_token ">Please enter device token.</span>
                </div> -->
            </div>
            <div class="form-group" ng-class="(err.ambulance_mobile==true) ? 'has-error' : (err.ambulance_mobile_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label " for="ambulance_mobile ">Phone Number</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="ambulance.ambulance_mobile" ng-focus="err.ambulance_mobile=false;err.ambulance_mobile_cdn=false;" name="mobile" class="form-control" placeholder="Enter ambulance mobile..">
                </div>
                <div class="col-xs-4">
                    <span class="text-danger " ng-show="err.ambulance_mobile">Please enter mobile number.</span>
                    <span class="text-danger " ng-show="err.ambulance_mobile_cdn">Please enter 10 digit mobile number.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="uploadFile">Photo</label>
                <div class="form-group" ng-class="(err.image_url == true) ? 'has-error' : 'has-primary'" ng-hide="true">
                    <div class="col-md-5">
                        <input type="file" file-model="image_url" ng-model="ambulance.image_url" ng-focus="err.image_url=false;" id="uploadFile" name="uploadFile" class="form-control" accept="image/*" placeholder="Enter display name..">
                    </div>
                    <div class="col-md-4">
                        <span class="text-danger" ng-show="err.image_url">Please upload image.</span>
                    </div>
                </div>
                <div>
                    <div class="col-md-5">
                        <span class="glyphicon glyphicon-pencil" id="editFile" ng-click="chooseFile()">
                        </span>
                        <img name="imageName" class="imageName" id="imageName" src="#" ng-click="chooseFile()">
                        <span class="text-muted">(Max. size of the image should not exceed 1MB)</span>
                    </div>
                </div>
            </div>
            <div ng-if="page.type == 'put'" class="form-group" ng-class="(err.is_active==true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label " for="is_active">Active Status</label>
                <div class="col-xs-5">
                    <label class="switch switch-primary ">
                        <input type="checkbox" ng-model="ambulance.is_active" ng-change="checkAmbulanceMapping(ambulance)"><span></span></label>
                    <span ng-show="ambulance.is_active">Active</span>
                    <span ng-hide="ambulance.is_active">InActive</span>
                </div>
                <div class="col-xs-4">
                    <!-- <span class="text-danger " ng-show="err.ambulance_mobile ">Please enter ambulance mobile.</span> -->
                </div>
            </div>
            <div class="col-xs-12 text-center ">
                <div class="form-group form-actions ">
                    <div>
                        <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveAmbulanceMaster(ambulance);" style="width:100px; "> Save</button>
                        <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateAmbulanceMaster(ambulance);" style="width:100px; "> Update</button>
                        <button class="btn btn-md btn-warning " ng-click="cancelAmbulanceMaster();" style="width:100px;"> Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 block" ng-hide="page.type == 'post'">
                <div class="form-group block-title1">
                    <div class="col-xs-6">
                        <h2><strong>Attributes</strong> </h2>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-md btn-primary" ng-click="addAttribute()">Add Attribute</button>
                    </div>
                </div>
                <div class="form-group col-xs-12" ng-repeat="attr in ambulanceAttr">
                    <div class="col-xs-8" ng-if="attr.flag || attr.ambulance_id == undefined">
                        <div class="col-xs-6">
                            <!-- <input type="text" placeholder="Attribute Name" ng-model="attr.attribute_name" 
                            class="form-control"> -->
                            <select class="form-control" size="1" ng-model="attr.ambulance_e_type_id" >
                            <option value="">select attibute</option>
                            <option ng-repeat="ambulance in ambulance_e_types_list track by $index" value={{ambulance.id}}>{{ambulance.type_name}}</option>
                        </select>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" placeholder="Attribute Value" ng-model="attr.attribute_details" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-8" ng-if="!attr.flag && attr.ambulance_id">
                        <div class="col-xs-6">
                            <label class="control-label" for={{attr.attribute_name}}>{{attr.attribute_name}}</label>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label" for={{attr.attribute_details}}>{{attr.attribute_details}}</label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-bg btn-info" ng-click="editAttribute(attr,ambulance)" ng-if="attr.ambulance_id && !attr.flag" style="width:100px;">Edit</button>
                        <button class="btn btn-bg btn-info" ng-click="updateAttribute(attr,ambulance)" ng-if="attr.flag && attr.ambulance_id" style="width:100px;">Update</button>
                        <button class="btn btn-bg btn-primary" ng-click="saveAttribute(attr,ambulance)" ng-if="attr.ambulance_id == undefined" style="width:100px;">Save</button>
                        <button class="btn btn-md btn-danger" ng-click="deleteAttribute(attr,ambulance)" style="width:100px;">Delete</button>
                    </div>
                </div>
                <div class="text-center" ng-show="!ambulanceAttr.length">
                    <h3>No ambulance attributes has been added.</h3>
                </div>
            </div>
    </form>
    </div>
