<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2 style="width:100%;"> <div class="col-sm-3"><strong>AMBULANCE MASTER</strong> </div>
     <div class="col-sm-9"  ng-show="upldfile.name">
                <div class="col-xs-11">
                    <div class="pull-right">
                        <i class="fa fa-file-excel-o"></i> 
                        <small> {{upldfile.name}} </small> 
                        <small> ({{upldfile.size}}) - </small>
                        <button class="btn btn-success btn-xs" ng-click="importExcelDoc()"> Upload</button>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="fileClose">
                        <i class="fa fa-times pull-left" ng-click="cancelImport();"></i>
                    </div>
                </div>
            </div>
            </h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria- controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows"> </select>
                </label>
            </div>
        </div>
          <div class="col-sm-2">
            <button class="btn btn-info btn-sm " ng-click="fileUpLoad();"> <i class="fa fa-upload"></i> Upload</button>
            <input type="file" file-model="myFile" id="uploadFile" style="display: none;" onchange="angular.element(this).scope().catchUploadedFile()" />
        </div>
        <!--  <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" placeholder="From date" call-date="selectedCal1" ng-change="getAmbulanceMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getAmbulanceMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div> -->
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm" export-file="Ambulance_Master_Report" ng-disabled="!ambulanceMasterList.length"> <i class="fa fa-download"></i> Download</button>
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2" ng-if="admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE'">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewAmbulanceMaster();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!ambulanceMasterList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng- class="(orderByField!='ambulance_number') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='ambulance_number'; reverseSort = !reverseSort">Ambulance Number</a></th>
                    <th ng- class="(orderByField!='vehicle_type') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='vehicle_type'; reverseSort = !reverseSort">Vehicle Type</a></th>
                    <!-- <th ng- class="(orderByField!='vehicle_type') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='vehicle_type'; reverseSort = !reverseSort">Emergency Type</a></th> -->
                    <th ng-class="(orderByField!='group_id') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_id'; reverseSort = !reverseSort">Group</a></th>
                    <th ng-class="(orderByField!='device_imei')? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_imei'; reverseSort = !reverseSort">Device IMEI</a></th>
                    <th ng-class="(orderByField!='device_type') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_type'; reverseSort = !reverseSort">Device Type</a></th>
                    <th ng-class="(orderByField!='device_os') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_os'; reverseSort = !reverseSort">Device OS</a></th>
                    <th ng-class="(orderByField!='device_token') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_token'; reverseSort = !reverseSort">Device Token</a></th>
                    <th ng-class="(orderByField!='ambulance_mobile') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='ambulance_mobile'; reverseSort = !reverseSort">Mobile</a></th>
                    <!-- <th ng-class="(orderByField!='file_url') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='file_url'; reverseSort = !reverseSort">File URL</a></th> -->
                    <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Status</a></th>
                    <!-- <th ng-class="(orderByField!='isActive') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='isActive'; reverseSort = !reverseSort">Login Status</a></th> -->
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,ambulance) in ambulanceMasterList.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{ambulance.ambulance_number}}</td>
                    <td>{{ambulance.vehicleTypeName}}</td>
                    <!-- <td>{{ambulance.emergencyTypeName}}</td> -->
                    <td>{{ambulance.groupName}}</td>
                    <td>{{ambulance.device_imei}}</td>
                    <td>{{ambulance.device_type}}</td>
                    <td>{{ambulance.device_os}}</td>
                    <td>{{(ambulance.device_token!='' && ambulance.device_token!=null && ambulance.device_token!='null' &&ambulance.device_token!=undefined && ambulance.device_token!='undefined')? 'XXXXX'+ambulance.device_token.substring(ambulance.device_token.length-4):''}}</td>
                    <td>{{ambulance.ambulance_mobile}}</td>
                    <!-- <td>{{ambulance.file_url}}</td> -->
                    <td>{{ambulance.is_active}}</td>
                    <!-- <td>{{ambulance.login_status}}</td> -->
                    <!-- <td ng-if="ambulance.login_status == 'LoggedIn'"><a href id="ambLogOut" ng-click="logoutAmbulance(ambulance)"> Log Out </a></td>
                    <td ng-if="ambulance.login_status != 'LoggedIn'"></td> -->
                    <!-- <td ng-if="ambulance.login_status != 'LoggedIn"></td> -->
                    <!--  <td ng-hide="edit == true || ambulance.login_status == 'NotLoggedIn'">{{ambulance.login_status}}&nbsp <span ng-click="edit = true" id="inlineEdit">edit</span></td>
                    <td ng-if="edit == true">
                        <select ng-model="ambulance.login_status">
                            <option value="Online">Online</option>
                            <option value="Offline">Offline</option>
                        </select>&nbsp <span ng-click="logoutAmbulance(ambulance)" id="inlineEdit">update</span>
                    </td>
                    <td ng-show="ambulance.is_booked == 'Yes'">{{ambulance.login_status}}</td> -->
                    <td class="text-center">
                        <div>
                            <a href ng-click="viewAmbulanceMaster(ambulance);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a ng-if="admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE'" href ng-click="editAmbulanceMaster(ambulance);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                            <a ng-if="(admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE') && ambulance.is_active != 'InActive'" href ng-click="deleteAmbulanceMaster(ambulance);"><span class="fa fa-trash" aria-hidden="true"></span></a>
                            <!--  <a ng-if="admin.userType != 'EMPLOYEE'" style="color:rgb(17, 244, 32);" ng-class="{'noPointer1':ambulance.login_status != 'LoggedIn'}"  href ng-click="logoutAmbulance(ambulance)"><span class="fa fa-power-off"  aria-hidden="true"></span></a> -->
                            <!--  <a ng-if="admin.userType != 'EMPLOYEE' && ambulance.is_active != 'InActive' || ambulance.login_status != 'LoggedIn'" href ng-click="logoutAmbulance(ambulance)"><span class="fa fa-power-off" aria-hidden="true" ng-disabled="true"></span></a> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="exportable" style="display:none;">
            <table id="example-datatable">
                <thead>
                    <tr>
                        <th ng- class="(orderByField!='ambulance_number') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='ambulance_number'; reverseSort = !reverseSort">Ambulance Number</a></th>
                        <th ng- class="(orderByField!='vehicle_type') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='vehicle_type'; reverseSort = !reverseSort">Vehicle Type</a></th>
                        <th ng-class="(orderByField!='ambulance_mobile') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='ambulance_mobile'; reverseSort = !reverseSort">Mobile</a></th>
                        <th ng-class="(orderByField!='group_id') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_id'; reverseSort = !reverseSort">Group</a></th>
                        <th ng-class="(orderByField!='device_imei')? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_imei'; reverseSort = !reverseSort">Device IMEI</a></th>
                        <th ng-class="(orderByField!='device_type') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_type'; reverseSort = !reverseSort">Device Type</a></th>
                        <th ng-class="(orderByField!='device_os') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_os'; reverseSort = !reverseSort">Device OS</a></th>
                        <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Status</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(uKey,ambulance) in ambulanceMasterList">
                        <td>{{ambulance.ambulance_number}}</td>
                        <td>{{ambulance.vehicleTypeName}}</td>
                        <td>{{ambulance.ambulance_mobile}}</td>
                        <td>{{ambulance.groupName}}</td>
                        <td>{{ambulance.device_imei}}</td>
                        <td>{{ambulance.device_type}}</td>
                        <td>{{ambulance.device_os}}</td>
                        <td>{{ambulance.is_active}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" ng-show="!ambulanceMasterList.length">
            <h3>No ambulance master has been added.</h3> </div>
        <div class="text-center" ng-show="ambulanceMasterList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
