<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>AMBULANCES LIST</strong></h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows">
                    </select>
                </label>
            </div>
        </div>
        <!--  <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" placeholder="From date" call-date="selectedCal1" ng-change="getDriverMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getDriverMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div> -->
       <!--  <pre>{{data | json}}</pre>
        <input type="text" name="address" ng-model="data.CustomerAddress"> -->
        <div class="col-sm-2">
            <!--  <button class="btn btn-primary btn-sm btn-block" ng-click="importExcelDoc()"> <i class="fa fa-download"></i> Download</button> -->
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <!-- <div class="col-sm-2">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewBooking();">Add New</button>
        </div> -->
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!ambulancesList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng-class="(orderByField!='ambulance_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='ambulance_number'; reverseSort = !reverseSort">Ambulance No.</a></th>
                    <th ng-class="(orderByField!='driver_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_name'; reverseSort = !reverseSort">Driver Name</a></th>
                    <th ng-class="(orderByField!='vehicleTypeName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='vehicleTypeName'; reverseSort = !reverseSort">Vehicle Type</a></th>
                    <th ng-class="(orderByField!='is_booked') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_booked'; reverseSort = !reverseSort">Is Booked</a></th>
                    <th ng-class="(orderByField!='booking_id') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booking_id'; reverseSort = !reverseSort">Booking Id</a></th>
                    <th ng-class="(orderByField!='booked_status') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booked_status'; reverseSort = !reverseSort">Booking Status</a></th>
                    <th ng-class="(orderByField!='temp_updated_date') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='temp_updated_date'; reverseSort = !reverseSort">Booking Time</a></th>
                    <th ng-class="(orderByField!='status') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='status'; reverseSort = !reverseSort">Status </a></th>
                    <!-- <th ng-class="(orderByField!='license_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='license_number'; reverseSort = !reverseSort">Location</a></th>
                    <th ng-class="(orderByField!='driver_pin') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_pin'; reverseSort = !reverseSort">Distance</a></th>
                    <th ng-class="(orderByField!='driver_pin') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_pin'; reverseSort = !reverseSort">Booking Time</a></th>
                    <th ng-class="(orderByField!='driver_pin') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_pin'; reverseSort = !reverseSort">Ambulance</a></th> -->
                    <!-- <th ng-class="(orderByField!='driver_pin') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_pin'; reverseSort = !reverseSort">Status</a></th> -->
                    <!-- <th ng-class="(orderByField!='file_url') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='file_url'; reverseSort = !reverseSort">File URL</a></th> -->
                    <!-- <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Operation</a></th> -->
                    <!-- <th class="text-center"><a href>Operation</a></th> -->
                </tr>
            </thead>
            <tbody ng-init="edit=false">
                <tr ng-repeat="(uKey,ambulance) in ambulancesList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{ambulance.ambulance_number}}</td>
                    <td>{{ambulance.driver_name}}</td>
                    <td>{{ambulance.vehicleTypeName}}</td>
                    <td>{{ambulance.is_booked}}</td>
                    <td>{{ambulance.booking_id}}</td>
                    <td>{{ambulance.booking_status}}</td>
                    <td>{{ambulance.updated_date}}</td>
                    <td ng-hide="edit == true || ambulance.is_booked == 'Yes' || ambulance.status == 'Offline'" >{{ambulance.status}}&nbsp <span ng-click="edit = true;ambulance.status = ''" id="inlineEdit">edit</span></td>
                    <td ng-if="edit == true">
                        <select ng-model="ambulance.status">
                           <!--  <option value="Online">Online</option> -->
                            <option value="">Offline</option>
                        </select>&nbsp <span ng-click="updateAmbulanceDriverStatus(ambulance)" id="inlineEdit">update</span>
                    </td>
                    <td ng-show="ambulance.is_booked == 'Yes' || ambulance.status == 'Offline'">{{ambulance.status}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="!ambulancesList.length">
            <h3>No ambulance has been added.</h3>
        </div>
        <div class="text-center" ng-show="ambulancesList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
