<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Ambulance Number</div>
                <div class="box2 col-xs-6">{{ambulance.ambulance_number}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Name</div>
                <div class="box2 col-xs-6">{{ambulance.groupName}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Emergency Type Name</div>
                <div class="box2 col-xs-6">{{ambulance.emergencyTypeNames}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Vehicle Type Name</div>
                <div class="box2 col-xs-6">{{ambulance.vehicleTypeName}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Ambulance Mobile</div>
                <div class="box2 col-xs-6">{{ambulance.ambulance_mobile}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Device IMEI</div>
                <div class="box2 col-xs-6">{{ambulance.device_imei}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Device Type</div>
                <div class="box2 col-xs-6">{{ambulance.device_type}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Device Os</div>
                <div class="box2 col-xs-6">{{ambulance.device_os}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Device Token</div>
                <div class="box2 col-xs-6" id="word-wrap">{{ambulance.device_token}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Active Status</div>
                <div class="box2 col-xs-6">{{ambulance.is_active}}</div>
            </div>
        </div>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Photo</div>
                <div class="box2 col-xs-6"><img src="{{ambulance.file_url}}" width="100%"></div>
            </div>
            <div class="col-xs-12 noPad bb" ng-repeat="attr in ambulanceAttr">
                <div class="box1 col-xs-6">{{attr.attribute_name}}</div>
                <div class="box2 col-xs-6">{{attr.attribute_details}}</div>
            </div>
            <!-- <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">sdf</div>
                <div class="box2 col-xs-6">sdf</div>
            </div> -->
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-warning " ng-click="cancelAmbulanceMaster();" style="width:100px;"> Back
                </div>
            </div>
        </div>
        <!--   <div class="form-group" ng-class="(err.ambulance_number == true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="ambulance_number">Ambulance Number</label>
            <div class="col-xs-5">
                <input type="text" ng-model="ambulance.ambulance_number" ng-focus="err.ambulance_number=false;" name="ambulance_number" class="form-control" placeholder="Enter ambulance number..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.ambulance_number">Please enter ambulance number .</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.group_short_name == true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="group_short_name">Vehicle Type</label>
            <div class="col-xs-5">
                <select class="form-control " size="1" ng-model="ambulance.vehicle_type" ng-class="(err.vehicle_type==true) ? 'justBorder' : '' " ng-focus="err.group_type=false ">
                    <option value="">- Select Vehicle Type -</option>
                    <option ng-repeat="vehicleType in vehicleTypeList" value={{vehicleType.vehicle_id}}>{{vehicleType.type_name}}</option>
                </select>
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.group_short_name">Please enter short name.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.group_short_name == true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="group_short_name">Emergency Type</label>
            <div class="col-xs-5">
                <select class="form-control " size="1" ng-model="ambulance.emergency_type" ng-class="(err.emergency_type==true) ? 'justBorder' : '' " ng-focus="err.emergency_type=false ">
                    <option value="">- Select Emergency Type -</option>
                    <option ng-repeat="emergencyType in emergencyTypeList" value={{emergencyType.id}}>{{emergencyType.type_name}}</option>
                </select>
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.group_short_name">Please enter short name.</span>
            </div>
        </div>
        <div class="form-group " ng-class="(err.group_id==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="group_id ">Group</label>
            <div class="col-xs-5">
                <select class="form-control " size="1" ng-model="ambulance.group_id" ng-class="(err.group_id==true) ? 'justBorder' : '' " ng-focus="err.group_id=false ">
                    <option value="">- Select Group -</option>
                    <option ng-repeat="group in globalGroupMasterList" value={{group.group_id}}>{{group.group_name}}</option>
                </select>
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.groupType">Please select group type.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="device_imei ">Device IMEI</label>
            <div class="col-xs-5">
                <input type="text" ng-model="ambulance.device_imei" name="device_imei " class="form-control" placeholder="Enter device imei..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.device_imei">Please enter imei.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.is_active==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="is_active">Device Type</label>
            <div class="col-xs-5">
                <select class="form-control" size="1" ng-model="ambulance.device_type" ng-class="(err.device_type==true) ? 'justBorder' : '' " ng-focus="err.device_type=false ">
                    <option value=" ">- Select Device OS -</option>
                    <option value="Android">Android</option>
                    <option value="iOS">iOS</option>
                </select>
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.device_os ">Please enter device token.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.device_os==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="device_os ">Device OS</label>
            <div class="col-xs-5">
                <input type="text" ng-model="ambulance.device_os " ng-focus="err.deviceType=false;" name="deviceType " class="form-control " placeholder="Enter device type..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.device_os ">Please enter device token.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.device_token==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="device_token ">Device Token</label>
            <div class="col-xs-5">
                <input type="text" ng-model="ambulance.device_token " ng-focus="err.device_token=false; " name="device_token " class="form-control " placeholder="Enter device token.. ">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.device_token ">Please enter device token.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.ambulance_mobile==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="ambulance_mobile ">Phone Number</label>
            <div class="col-xs-5">
                <input type="text" ng-model="ambulance.ambulance_mobile" ng-focus="err.mobile=false;err.mobile_cdn=false;" name="mobile" class="form-control" placeholder="Enter ambulance mobile..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.ambulance_mobile ">Please enter ambulance mobile.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.is_active==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="is_active">Active Status</label>
            <div class="col-xs-5">
                <label class="switch switch-primary ">
                    <input type="checkbox" ng-model="ambulance.is_active"><span></span></label>
                <span ng-show="ambulance.is_active">Active</span>
                <span ng-hide="ambulance.is_active">InActive</span>
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.ambulance_mobile ">Please enter ambulance mobile.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="uploadFile">Photo</label>
            <div class="form-group" ng-class="(err.image_url == true) ? 'has-error' : 'has-primary'" ng-hide="true">
                <div class="col-md-5">
                    <input type="file" file-model="image_url" ng-model="ambulance.image_url" ng-focus="err.image_url=false;" id="uploadFile" name="uploadFile" class="form-control" accept="image/*" placeholder="Enter display name..">
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.image_url">Please upload image.</span>
                </div>
            </div>
            <div>
                <div class="col-md-5">
                    <span class="glyphicon glyphicon-pencil" id="editFile" ng-click="chooseFile()">
                        </span>
                    <img name="imageName" class="imageName" id="imageName" src="#" ng-click="chooseFile()">
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveAmbulanceMaster(ambulance);" style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateAmbulanceMaster(ambulance);" style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelAmbulanceMaster();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div> -->
    </form>
</div>
