<div class="block">
    <div class="block-title">
        <h2><strong>App Settings</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group col-xs-12" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label col-xs-4" for="activeStatus">Allow Unique Login</label>
                <div class="col-xs-8">
                    <label class="switch switch-primary">
                        <input type="checkbox" ng-model="setting.unique_login" "><span></span></label>
                    <span ng-show="setting.unique_login ">Yes</span>
                    <span ng-hide="setting.unique_login ">No</span>
                </div>
            </div>
            <div class="form-group col-xs-12 " ng-class="(err.activeStatus== true) ? 'has-error' : 'has-primary' " ng-if="setting.unique_login == false ">
                <label class="control-label col-xs-4 " for="activeStatus ">Max Logins</label>
                <div class="col-xs-6 ">
                        <input type="text " ng-model="setting.max_logins " ng-focus="err.email=false; " name="max_logins " class="form-control " placeholder="Enter Max Logins .. ">
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary " ng-click="saveAppSettings(setting); " style="width:100px; "> Save</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelSettings(); " style="width:100px; "> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
