<!-- 
<div class="block">
<div class="block-title">
<h2><strong>APP Version</strong> </h2>
</div>
<form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
<div class="col-xs-12">
<div class="form-group col-xs-12 " ng-class="(err.version_no == true) ? 'has-error' : 'has-primary' ">
<label class="control-label col-xs-4 " for="version_no ">Version No</label>
<div class="col-xs-4">
<input type="text " ng-model="app.version_no " ng-focus="err.version_no=false; " name="version_no " class="form-control " placeholder="Enter Version Number .. ">
</div>
<div>
<span class="text-danger" ng-show="err.version_no">Please enter version number .</span>

</div>
</div>
<div class="form-group col-xs-12 " ng-class="(err.build_date == true) ? 'has-error' : 'has-primary' ">
<label class="control-label col-xs-4 " for="build_date ">Build Date</label>

<div class="col-xs-4" ng-init="selectedCal1=false;">
<div class="input-group">
<input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="app.build_date" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;err.build_date=false" placeholder="Enter start date" call-date="selectedCal1">
<label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
</div>
</div>
<div>
<span class="text-danger" ng-show="err.build_date">Please input build date  .</span>

</div>
</div>
<div class="form-group col-xs-12 " ng-class="(err.build_os == true) ? 'has-error' : 'has-primary' ">
<label class="control-label col-xs-4 " for="build_os ">Build OS</label>
<div class="col-xs-4 ">
<input type="text " ng-model="app.build_os " ng-focus="err.build_os=false; " name="build_os " class="form-control " placeholder="Enter build os .. ">
</div>
<div>
<span class="text-danger" ng-show="err.build_os">Please enter build os   .</span>

</div>
</div>
<div class="form-group col-xs-12" ng-class="(err.force_upgrade == true) ? 'has-error' : 'has-primary' ">
<label class="control-label col-xs-4" for="force_upgrade">Force Upgrade</label>
<div class="col-xs-6">
<label class="switch switch-primary">
<input type="checkbox" ng-model="app.force_upgrade" "><span></span></label>
<span ng-show="app.force_upgrade ">Yes</span>
<span ng-hide="app.force_upgrade ">No</span>
</div>
</div>
</div>
<div class="col-xs-12 text-center ">
<div class="form-group form-actions ">
<div>
<button class="btn btn-md btn-primary " ng-click="saveAppVersion(app); " style="width:100px; "> Save</button>
<button class="btn btn-md btn-warning " ng-click="cancel(); " style="width:100px; "> Cancel</button>
</div>
</div>
</div>
</form>
</div>
-->
<div class="block">
    <div class="block-title">
        <h2><strong>APP Version</strong> </h2>
    </div>
    <div id="APP" class="panel-group">
        <div class="panel panel-default" ng-repeat="(key,app) in appVersionList">
            <div class="panel-heading">
                <h4 class="panel-title">
<a class="accordion-toggle" ng-click="showUbtBtns($index);" data-toggle="collapse" data-parent="#APP" href="//#APP_{{$index}}"> {{$index+1}}. {{app.app_type}}</a>
</h4>
            </div>
            <div id="APP_{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 " ng-class="(err.version_no == true) ? 'has-error' : 'has-primary' ">
                                <label class="control-label col-xs-4 " for="version_no ">Version No</label>
                                <div class="col-xs-4">
                                    <input type="text " ng-model="app.version_no " ng-focus="err.version_no=false; " name="version_no " class="form-control " placeholder="Enter Version Number .. ">
                                </div>
                                <div>
                                    <span class="text-danger" ng-show="err.version_no">Please enter version number .</span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 " ng-class="(err.build_date == true) ? 'has-error' : 'has-primary' ">
                                <label class="control-label col-xs-4 " for="build_date ">Build Date</label>
                                <div class="col-xs-4" ng-init="selectedCal1=false;">
                                    <div class="input-group">
                                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="app.build_date" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;err.build_date=false" placeholder="Enter start date" call-date="selectedCal1">
                                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                                    </div>
                                </div>
                                <div>
                                    <span class="text-danger" ng-show="err.build_date">Please input build date  .</span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 " ng-class="(err.build_os == true) ? 'has-error' : 'has-primary' ">
                                <label class="control-label col-xs-4 " for="build_os ">Build OS</label>
                                <div class="col-xs-4 ">
                                    <input type="text " ng-model="app.build_os " ng-focus="err.build_os=false; " name="build_os " class="form-control " placeholder="Enter build os .. " ng-disabled="true">
                                </div>
                                <div>
                                    <span class="text-danger" ng-show="err.build_os">Please enter build os   .</span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12" ng-class="(err.force_upgrade == true) ? 'has-error' : 'has-primary' ">
                                <label class="control-label col-xs-4" for="force_upgrade">Force Upgrade</label>
                                <div class="col-xs-6">
                                    <label class="switch switch-primary">
                                        <input type="checkbox" ng-model="app.force_upgrade" "><span></span>
                                    </label>
                                        <span ng-show="app.force_upgrade">Yes</span>
                                        <span ng-hide="app.force_upgrade">No</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center ">
                            <div class="form-group form-actions ">
                                <button class="btn btn-md btn-primary" ng-click="updateAppVersion(app); " style="width:100px; "> Update</button>
                                <button class="btn btn-md btn-warning" ng-click="cancel();" style="width:100px; "> Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
