<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group col-xs-6">
                <label class="control-label" for="group_limit ">Ambulances</label>
                <div>
                    <select class="form-control" id="ambulance" size="1" ng-model="amb_obj" ng-class="(err.booked_by==true) ? 'justBorder' : '' " ng-focus="err.booked_by=false " ng-change="getDetails(amb_obj)">
                        <option value="">Select Ambulance</option>
                        <option value={{ambulance}} ng-repeat="ambulance in nearAmbulanceList">{{ambulance.ambulance_number}}</option>
                    </select>
                </div>
                <div>
                    <span class="text-danger" ng-show="err.group_limit">Please enter group limit.</span>
                </div>
            </div>
            <div class="form-group col-xs-6" style="height:97px">
                <input type="hidden" name="bookingObj" ng-model="bookingObj">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group col-xs-9">
                <!-- <pre>{{markerObj}}</pre>
            <pre>{{center}}</pre> -->
                <!-- <div id="map" style="height:400px"></div> -->
                <ng-map zoom="15" center="{{center}}" style="height:400px">
                    <marker id="{{ambulance.id}}" ng-repeat="ambulance in markerObj" position="{{ambulance.pos}}" icon="{{ambulance.image}}" on-click="showDetails(ambulance)" ng-if="!customMarkerList"></marker>
                    <info-window id="foo-iw">
                        <div ng-non-bindable="">
                            Ambulance No. : {{ambulance.ambulance_number}}
                            <br/>Driver Name : {{ambulance.driver_name}}
                            <br/>Group : {{ambulance.group_name}}
                            <br/> Vehicle : {{ambulance.vehicleTypeName}}
                            <br>
                        </div>
                    </info-window>
                    <directions draggable="false" travel-mode="DRIVING" origin="{{directionObj.origin}}" destination="{{directionObj.destination}}" suppress-markers="true" ng-if="customMarkerList">
                    </directions>
                    <marker id="{{custom.state}}" ng-repeat="custom in customMarkerList" position="{{custom.pos}}" icon="{{custom.image}}" on-click="showCustomInfo(custom)" ></marker>
                    <info-window id="custom-info">
                        <div ng-non-bindable="">
                            <span ng-if="custom.state == 'emergency'">Customer Name : {{custom.customer_name}}
                    <br/>Emergency Type : {{custom.emergency_type}}
                    <br/>Mobile : {{custom.customer_mobile}}
                    <br></span>
                            <span ng-if="custom.state == 'ambulance'">Driver Name : {{custom.driver_name}}
                    <br/>Ambulance No. : {{custom.ambulance_number}}
                    <br/>Vehicle Type : {{custom.vehicle_type}}
                    <br/>Driver Mobile : {{custom.driver_mobile}}
                    <br></span>

                        </div>
                    </info-window>
                </ng-map>
            </div>
            <div class="form-group col-xs-3" id="sidePan">
                <div class="col-xs-12 text-left">
                    <h3>Booking Details</h3>
                    <div class="mb20"><strong>Patient Name: </strong><span>{{bookingObj.customer_name}}</span> </div>
                    <div class="mb20">
                        <strong>Emergency Type: </strong><span>{{bookingObj.emergency_type}}</span>
                        <strong>Emergency Location: </strong><span>{{bookingObj.location}}</span>
                        <!-- <strong ng-if="bookingObj.eme_address">Emergency Location: </strong><span>{{bookingObj.eme_address}} -->
                    </div>
                    <div class="mb20"><strong>Booked By: </strong><span>{{bookingObj.booked_by}}</span>
                        <br>
                        <strong>Ago: </strong><span>{{bookingObj.created_datetime}}</span>
                        <br>
                        <strong>Hospital: </strong><span>{{bookingObj.hospital}}</span>
                    </div>
                </div>
                <div class="col-xs-12 text-left" ng-if="driverObj">
                    <h3>Driver Details</h3>
                    <div class="mb20"><strong>Driver Name: </strong><span>{{driverObj.driver_name}}</span>
                        <br>
                        <strong>Mobile Number: </strong><span>{{driverObj.driver_mobile_number}}</span>
                        <br>
                        <strong>ETA: </strong><span>{{amb_obj1.duration}}</span>
                        <br>
                        <strong>Distance: </strong><span>{{amb_obj1.distance}}</span></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="assignAmbulanceBooking(amb_obj,bookingObj);" style="width:100px; "> Assign</button>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='put'" ng-click="updateBooking(amb_obj,bookingObj);" style="width:100px; "> Transfer</button>
                    <button class="btn btn-md btn-warning " ng-click="cancel();" style="width:100px;"> Back</button>
                </div>
            </div>
        </div>
    </form>
</div>
