<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group col-xs-2" ng-class="(err.country_code==true) ? 'has-error' : (err.country_code == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="country_code">Country</label>
                <select class="form-control " size="1" ng-model="booking.country_code" ng-change="isCustomerExists = false;createCustomerBtn = false;customer=false;">
                    <option ng-repeat="country in globalCountryList" value={{country.code}}>{{country.country}}</option>
                </select>
            </div>
            <div>
                <span class="text-danger" ng-if="err.country_code">Please select country code.</span>
            </div>
            <div class="form-group col-xs-4" ng-class="(err.customer_mobile==true) ? 'has-error' : (err.customer_mobile_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="customer_mobile">Customer Mobile</label>
                <div>
                    <input type="text" ng-model="booking.customer_mobile" id="customer_mobile" ng-focus="err.customer_mobile=false;err.customer_mobile_cdn=false" name="customer_mobile" class="form-control" placeholder="Enter mobile number.." ng-change="isCustomerExists = false;createCustomerBtn = false;customer=false;">
                </div>
                <!-- <div>
                    <input type="hidden" ng-model="booking.customer_name"  name="customer_mobile" class="form-control" placeholder="Enter mobile number..">
                </div> -->
                <div>
                    <input type="hidden" ng-model="booking.customer_id" name="customer_mobile" class="form-control" placeholder="Enter mobile number..">
                </div>
                <div>
                    <input type="hidden" ng-model="booking.customer_age" name="customer_age" class="form-control">
                </div>
                <div>
                    <span class="text-danger" ng-if="err.customer_mobile">Please enter customer mobile .</span>
                    <span class="text-danger " ng-if="err.customer_mobile_cdn">Please enter 10 digit mobile number.</span>
                </div>
            </div>
            <div ng-if="customer=='true'" class="form-group col-xs-6" ng-class="(err.customer_name==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="booked_by ">Customer Name</label>
                <div>
                    <input type="text" ng-model="booking.customer_name" class="form-control" placeholder="Enter Customer name..">
                </div>
                <div>
                    <span class="text-danger" ng-if="err.customer_name">Please enter customer name .</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-if="createCustomerBtn != true || customer !='true' || isCustomerExists == true">
                <div class="col-xs-3" style="margin-top:28px;" ng-if="createCustomerBtn != true;customer !='true';">
                    <button class="btn btn-md" ng-click="verifyCustomer(booking);" style="background-color:#25739c;"> <span style="color:white">Get Details</span></button>
                </div>
                <div class="col-xs-9" ng-if="isCustomerExists == true">
                    <label class="control-label" for="booked_by ">Customer Name</label>
                    <input type="text" ng-model="booking.customer_name" class="form-control" ng-disabled="true">
                </div>
            </div>
            <div class="col-xs-12">
                <div style="padding :5px;text-align: center;" ng-if="createCustomerBtn == true && customer=='true';">
                    <button class="btn btn-md" ng-click="createCustomer(booking);" style="background-color:#CF921E;"> <span style="color:white">Create Customer</span></button>
                </div>
            </div>
        </div>
        <div ng-if="isCustomerExists == true">
            <div class="col-xs-12">
                <div class="form-group col-xs-6">
                    <label class="control-label" for="booked_by ">Reason</label>
                    <div>
                        <select class="form-control" size="1" ng-model="booking.reason">
                            <option value="No Internet">No Internet</option>
                            <option value="No Ambulances">No Ambulances</option>
                        </select>
                    </div>
                    <div>
                        <span class="text-danger " ng-if="err.group_type_id">Please select booked By.</span>
                    </div>
                </div>
                <div class="form-group col-xs-6" ng-class="(err.is_self==true) ? 'has-error' : 'has-primary' ">
                    <label class="control-label" for="is_self ">Emergency</label>
                    <div>
                        <select class="form-control " size="1" ng-class="(err.is_self==true) ? 'justBorder' : '' " ng-focus="err.is_self=false" ng-model="booking.is_self" ng-change="InitOthers(booking.is_self)">
                            <option value="">- Select -</option>
                            <option value="1">For Myself</option>
                            <option value="0">For Someone</option>
                        </select>
                    </div>
                    <div>
                        <span class="text-danger" ng-if="err.is_self">Please select emergency for ?</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 ">
                <div class="col-xs-6 noPad">
                    <div class="form-group col-xs-12" ng-if="othersFlag == true">
                        <label class="control-label" for="patient_number ">Contact Number</label>
                        <div>
                            <input type="text" ng-model="booking.patient_number" ng-focus="err.patient_number_cdn=false;" name="patient_number " class="form-control" placeholder="Contact Number">
                        </div>
                        <div>
                            <span class="text-danger " ng-if="err.patient_number_cdn">Please enter 10 digit mobile number.</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-class="(err.emergency_type_id==true) ? 'has-error' : 'has-primary' ">
                        <label class="control-label" for="emergency_type_id ">Emergency Type</label>
                        <div>
                            <select class="form-control " size="1" ng-model="booking.emergency_type_id" ng-class="(err.emergency_type_id==true) ? 'justBorder' : '' " ng-focus="err.emergency_type_id=false " ng-change="getNearHospitalsList();">
                                <option value="">- Select -</option>
                                <option value="{{emergency.id}}" ng-repeat="emergency in emergencyTypeList">{{emergency.type_name}}</option>
                            </select>
                        </div>
                        <div>
                            <span class="text-danger" ng-if="err.emergency_type_id">Please enter emergency type.</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="control-label" for="booked_by ">Ambulance Type</label>
                        <div>
                            <select class="form-control " size="1" ng-model="booking.group_type_id" ng-class="(err.booked_by==true) ? 'justBorder' : '' " ng-disabled="booking.emergency_type_id==28">
                                <option ng-repeat="ambulance in ambulanceTypes" value={{ambulance.id}}>{{ambulance.type_name}}</option>
                            </select>
                        </div>
                        <div>
                            <span class="text-danger " ng-if="err.group_type_id">Please select booked By.</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-class="(err.address==true) ? 'has-error' : 'has-primary' ">
                        <label class="control-label" for="address">Pickup Location</label>
                        <div>
                            <input type="text" ng-model="booking.address" ng-focus="err.address=false;" name="address " class="form-control" placeholder="Enter address..  " id="city_country">
                        </div>
                        <div>
                            <span class="text-danger" ng-if="err.address">Please enter address.</span>
                        </div>
                    </div>
                    <div hidden="" class="form-group col-xs-12" ng-class="(err.emergency_latitude==true) ? 'has-error' : 'has-primary' ">
                        <label class="control-label" for="emergency_latitude">Emergency Latitude</label>
                        <div>
                            <input type="text" ng-model="booking.emergency_latitude" ng-focus="err.emergency_latitude=false;" name="group_longitude " class="form-control" placeholder="Enter group longitude.. ">
                        </div>
                        <div>
                            <span class="text-danger" ng-if="err.emergency_latitude">Please enter emergency latitude.</span>
                        </div>
                    </div>
                    <div hidden="" class="form-group col-xs-12" ng-class="(err.emergency_longitude==true) ? 'has-error' : 'has-primary' ">
                        <label class="control-label" for="group_longitude">Emergency Longitude</label>
                        <div>
                            <input type="text" ng-model="booking.emergency_longitude" ng-focus="err.emergency_longitude=false;" name="group_longitude " class="form-control" placeholder="Enter group longitude.. ">
                        </div>
                        <div>
                            <span class="text-danger " ng-if="err.group_longitude ">Please enter emergency longitude.</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 mt5" ng-class="(err.eType==true) ? 'has-error' : 'has-primary' ">
                        <label class="labelnew">
                            <input type="radio" ng-model="eType" value="drop_location" class="ng-pristine ng-untouched ng-valid" ng-change="location(eType);"> Drop Location
                        </label>
                        <label class="labelnew">
                            <input type="radio" ng-model="eType" value="Hospital" ng-change="location(eType);getNearHospitalsList();" class="ng-pristine ng-untouched ng-valid"> Hospital
                        </label>
                    </div>
                    <div class="form-group col-xs-12" ng-class="(err.drop_location==true) ? 'has-error' : 'has-primary' " ng-show="eType =='drop_location'">
                        <label class="control-label" for="address">Drop Location</label>
                        <div>
                            <input type="text" ng-model="booking.drop_location" ng-focus="err.drop_location=false;" name="address " class="form-control" placeholder="Enter address..  " id="drop_location">
                        </div>
                        <div>
                            <span class="text-danger" ng-if="err.drop_location">Please enter Drop Location.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 noPad" style="height:285px">
                    <div class="form-group col-xs-12" ng-class="(err.group_lattitude==true) ? 'has-error' : 'has-primary' ">
                        <div id="mapAttr" class="mapCanvas" ng-init="initAutocomplete();"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 " ng-show="eType=='Hospital'" ng-class="(err.group_id==true) ? 'has-error' : 'has-primary' ">
                <div class="form-group col-xs-6">
                    <label class="control-label" for="group_address">Hospital</label>
                    <div>
                        <select class="form-control " size="1" ng-model="booking.group_id">
                            <option ng-repeat="hospital in nearByHospitalList" value={{hospital.group_id}} ng-class="(err.group_id==true) ? 'justBorder' : ''" ng-focus="err.group_id=false;">{{hospital.group_name}}</option>
                        </select>
                    </div>
                    <div>
                        <span class="text-danger " ng-if="err.group_id ">Please select hospital.</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center ">
                <div class="form-group form-actions">
                    <div>
                        <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="createBooking(booking);" style="width:100px; "> Create</button>
                        <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateBooking(booking);" style="width:100px; "> Update</button>
                        <button class="btn btn-md btn-warning " ng-click="cancel();" style="width:100px;"> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
