<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>BOOKING MASTER</strong></h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows">
                    </select>
                </label>
            </div>
        </div>
        <!--<div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" class="datepickerRest1 form-control" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" data-date-end-date="+0d" placeholder="From date" call-date="selectedCal1" ng-change="getBookingsList()" readonly>
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" class="datepickerRest2 form-control" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" data-date-end-date="+0d" placeholder="To date" call-date="selectedCal2" ng-change="getBookingsList()" readonly>
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>-->
	<div class="col-sm-2">
    <div class="dataTables_length" id="example-datatable_length">
        <label>
            <div class="input-group">
                <input type="text" id="startdate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" data-date-end-date="+0d" placeholder="From date" call-date="selectedCal1" ng-change="getBookingsList()">
                <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
            </div>
        </label>
    </div>
</div>
<div class="col-sm-2">
    <div class="dataTables_length" id="example-datatable_length">
        <label>
            <div class="input-group">
                <input type="text" id="enddate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-end-date="+0d" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getBookingsList()">
                <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
            </div>
        </label>
    </div>
</div>
        <div class="col-sm-1">
             <button class="btn btn-primary btn-sm" ng-click="refreshBooking()"> <i class="fa fa-refresh"></i></button>
        </div>
	<div class="col-sm-2">
            <button class="btn btn-primary btn-sm" export-file="Booking_Report_{{fromDate}}_{{toDate}}" ng-disabled="!bookingsList.length"> <i class="fa fa-download"></i> Download</button>
        </div>
        <div class="col-sm-2">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewBooking();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!bookingsList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng-class="(orderByField!='booking_id') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booking_id'; reverseSort = !reverseSort">Booking Id</a></th>
                    <th ng-class="(orderByField!='booked_by') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booked_by'; reverseSort = !reverseSort">Booked By</a></th>
                    <th ng-class="(orderByField!='booking_status') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booking_status'; reverseSort = !reverseSort">Booking Status</a></th>
                    <th ng-class="(orderByField!='customer_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_name'; reverseSort = !reverseSort">Customer Name</a></th>
                    <th ng-class="(orderByField!='customer_mobile') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_mobile'; reverseSort = !reverseSort">Mobile</a></th>
                    <th ng-class="(orderByField!='emergency_type') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='emergency_type'; reverseSort = !reverseSort">Type</a></th>
                    <!-- <th ng-class="(orderByField!='license_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='license_number'; reverseSort = !reverseSort">Location</a></th> -->
                    <th ng-class="(orderByField!='distance') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='distance'; reverseSort = !reverseSort">Distance (Kms)</a></th>
                    <th ng-class="(orderByField!='Cost') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='Cost'; reverseSort = !reverseSort">Cost (Rs.)</a></th>
                    <th ng-class="(orderByField!='temp_created_datetime') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='temp_created_datetime'; reverseSort = !reverseSort">Booking Time</a></th>
                    <th ng-class="(orderByField!='temp_updated_datetime') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='temp_updated_datetime'; reverseSort = !reverseSort">Updated Time</a></th>
                    <!-- <th ng-class="(orderByField!='driver_pin') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_pin'; reverseSort = !reverseSort">Ambulance</a></th> -->
                    <th ng-class="(orderByField!='ambulance_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='ambulance_number'; reverseSort = !reverseSort">Ambulance Number</a></th>
                    <!-- <th ng-class="(orderByField!='file_url') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='file_url'; reverseSort = !reverseSort">File URL</a></th> -->
                    <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Operation</a></th>

                    <!-- <th class="text-center"><a href>Operation</a></th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,booking) in bookingsList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{booking.booking_id}}</td>
                    <td>{{booking.booked_by}}</td>
                    <td>{{booking.booking_status}}</td>
                    <td>{{booking.customer_name}}</td>
                    <td>{{booking.customer_mobile}}</td>
                    <td>{{booking.emergency_type}}</td>
                    <!-- <td>{{booking.location}}</td> -->
                    <td>{{booking.distance}}</td>
                    <td>{{booking.cost}}</td>
                    <td>{{booking.created_datetime}}</td>
                    <td>{{booking.updated_datetime}}</td>
                    <!-- <td>{{booking.ambulance_id}}</td> -->
                    <td>{{booking.ambulance_number}}</td>
                    <!-- <td>{{booking.status}}</td> -->
                    <!-- <td>{{driver.file_url}}</td> -->
                    <td class="text-center">
                        <div aria-label="...">
                              <!-- <a>{{booking.countingTime}}</a> -->
                        <!-- <a href="" ng-click="assignBooking(booking)">assign</a> -->
                             <button type="button" class="btn btn-primary btn-xs assign" ng-click="assignBooking(booking,'assign');"  ng-if="(booking.booking_status == 'Pending' && booking.booked_by != 'Customer') || (booking.booking_status == 'No Ambulance' && booking.countingTime <= 15.00) || ( booking.booking_status == 'No Response' && booking.countingTime <= 15.00)">Assign</button>
                            <button type="button" class="btn btn-primary btn-xs transfer" ng-click="assignBooking(booking,'transfer');" ng-hide="booking.booking_status == 'Pending' ||  booking.booking_status == 'Trip Closed' || booking.booking_status == 'Cancelled' || booking.booking_status == 'Cancelled (Fake)' || booking.booking_status == 'No Response' || booking.booking_status == 'No Ambulance' || booking.booking_status == 'Reached Destination'">Transfer</button>
                            <button type="button" class="btn btn-primary btn-xs cancel" ng-click="cancelBooking(booking);"
                            ng-hide="booking.booking_status == 'Trip Closed' || booking.booking_status == 'Cancelled' || booking.booking_status == 'Cancelled (Fake)' || (booking.booking_status == 'No Ambulance' && booking.countingTime >= 15.00) || (booking.booking_status == 'No Response' && booking.countingTime >= 15.00) || booking.booking_status == 'Reached Destination'">Cancel</button>
                            <button type="button" class="btn btn-primary btn-xs track" ng-click="trackBooking(booking);" ng-hide="booking.booking_status == 'Pending' || booking.booking_status == 'Trip Closed' || booking.booking_status == 'Cancelled' || booking.booking_status == 'Cancelled (Fake)' || booking.booking_status == 'No Response' || booking.booking_status == 'No Response on transfer' || booking.booking_status == 'No Ambulance'">Track</button> 

                             <!-- <a href ng-click="assignBooking(booking);" ng-if="booking.booking_status == 'Pending'" >Assign</a>
                            <a href ng-click="assignBooking(booking);" ng-hide="booking.booking_status == 'Pending' ||  booking.booking_status == 'Trip Closed' || booking.booking_status == 'Cancelled' || booking.booking_status == 'Cancelled (Fake)'">Transfer</a>
                            <a href ng-click="cancelBooking(booking);" ng-hide="booking.booking_status == 'Trip Closed' || booking.booking_status == 'Cancelled' || booking.booking_status == 'Cancelled (Fake)'">Cancel</a>
                            <a href ng-click="trackBooking(booking);" ng-hide="booking.booking_status == 'Pending' || booking.booking_status == 'Trip Closed' || booking.booking_status == 'Cancelled' || booking.booking_status == 'Cancelled (Fake)'">Track</a> -->
                        </div>
                    </td>
                   
                </tr>
            </tbody>
        </table>
   <div id="exportable" style="display:none;">
         <table id="example-datatable" cellspacing="1">
	  <thead>
                <tr>
                    <th ng-class="(orderByField!='booking_id') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booking_id'; reverseSort = !reverseSort">&nbsp;&nbsp;&nbsp; Booking Id &nbsp;&nbsp;&nbsp;</a></th>
		    <th ng-class="(orderByField!='customer_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_name'; reverseSort = !reverseSort">Customer Name</a></th>
                    <th ng-class="(orderByField!='customer_mobile') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_mobile'; reverseSort = !reverseSort">Mobile</a></th>
                    <th ng-class="(orderByField!='booked_by') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booked_by'; reverseSort = !reverseSort">Booked By</a></th>
                    <th ng-class="(orderByField!='booking_status') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booking_status'; reverseSort = !reverseSort">Booking Status</a></th>
                    <th ng-class="(orderByField!='emergency_type') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='emergency_type'; reverseSort = !reverseSort">Emergency Type</a></th>
                    <th ng-class="(orderByField!='distance') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='distance'; reverseSort = !reverseSort">Distance (Kms)</a></th>
                    <th ng-class="(orderByField!='Cost') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='Cost'; reverseSort = !reverseSort">Cost (Rs.)</a></th>
                    <th ng-class="(orderByField!='temp_created_datetime') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='temp_created_datetime'; reverseSort = !reverseSort">Booking Time</a></th>
                    <th ng-class="(orderByField!='ambulance_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='ambulance_number'; reverseSort = !reverseSort">Ambulance Number</a></th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,booking) in bookingsList">
                    <td>{{booking.booking_id}}</td>
                    <td>{{booking.customer_name}}</td>
                    <td>{{booking.customer_mobile}}</td>
                    <td>{{booking.booked_by}}</td>
                    <td>{{booking.booking_status}}</td>
                    <td>{{booking.emergency_type}}</td>
                    <td>{{booking.distance}}</td>
                    <td>{{booking.cost}}</td>
                    <td>{{booking.booking_time}}</td>
                    <td>{{booking.ambulance_number.split(' ')[0]}}</td>
                   
                </tr>
            </tbody>
	 </table>
    </div>
        <div class="text-center" ng-show="!bookingsList.length">
            <h3>No transactions available for the selected date range.</h3>
        </div>
        <div class="text-center" ng-show="bookingsList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
<script>
/* $(function() {
    var me = this;
    $('.datepickerRest2').datepicker({
        format: 'yyyy-mm-dd',
	startDate:'+0d',
        endDate: '+0d',
        autoclose: true
    }).on("changeDate", function(e) {
        me.datepicker1 = null;
        me.datepicker1 = $(".datepickerRest1").datepicker('setEndDate', e.date);
    });

    $('.datepickerRest1').datepicker({
        format: 'yyyy-mm-dd',
        endDate: '+0d',
        autoclose: true,
    }).on("changeDate", function(e) {
        me.datepicker2 = null;
        me.datepicker2 = $(".datepickerRest2").datepicker('setStartDate', e.date);
    });

});*/
</script>
