<div class="block col-sm-5">
	<div class="block-title">
		<h2>Change Password</h2>
	</div>
	<form class="form-horizontal form-bordered changePsw">
		<div class="col-xs-12">
			<div class="form-group" ng-class="(err.oldPassword == true)  ? 'has-error' : (err.password_cdn == true) ? 'has-primary' : 'has-primary' ">
				<label class="control-label" for="oldPassword">Current Password</label>
				<input type="password" ng-model="psw.oldPassword" ng-focus="err.oldPassword = false;err.password_cdn = false;" name="oldPassword" class="form-control" placeholder="Current password">
				<div class="errors">
					<p class="text-danger" ng-show="err.oldPassword">Please enter current password.</p>
					<p class="text-danger" ng-show="err.password_cdn">Please enter password of min. 6 characters.</p>
					
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group" ng-class="(err.newPassword == true || err.password_cdn1 == true || err.password_cdn2 == true) ? 'has-error' : 'has-primary' ">
				<label class="control-label" for="newPassword">New Password</label>
				<input type="password" ng-model="psw.newPassword" ng-focus="err.newPassword = false;err.password_cdn1 = false;err.password_cdn2 = false;" name="newPassword" class="form-control" placeholder="New password (min. of 6 characters)..">
				<div class="errors">
					<p class="text-danger" ng-show="err.newPassword">Please enter new password.</p>
					<p class="text-danger" ng-show="err.password_cdn2  && !err.password_cdn1">New password should not match to current password.</p>
					<p class="text-danger" ng-show="err.password_cdn1">Please enter password of min. 6 characters.</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group" ng-class="(err.confirm == true || err.confirmMatch == true) ? 'has-error' : 'has-primary' ">
				<label class="control-label" for="confirm">Confirm Password</label>
				<input type="password" ng-model="psw.confirm" ng-focus="err.confirm = false;err.confirmMatch = false;" name="confirm" class="form-control" placeholder="Confirm password">
				<div class="errors">
					<p class="text-danger" ng-show="err.confirm">Please enter confirm password.</p>
					<p class="text-danger" ng-show="err.confirmMatch">Confirm password should match to new password.</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group form-actions">
				<div class="col-xs-2"></div>
				<div class="col-xs-4">
					<button type="submit" class="btn btn-block btn-primary" ng-click="savePassword(psw);">Save</button>
				</div>
				<div class="col-xs-4">
					<button type="submit" class="btn btn-block btn-warning" ng-click="cancel();">Cancel</button>
				</div>
			</div>
		</div>
	</form>
</div>
