<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>Come To Know By </strong></h2> </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-3">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows"> </select>
                </label>
            </div>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewComeToKnowBy();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!comeToKnowByList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng- class="(orderByField!='know_by') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='know_by'; reverseSort = !reverseSort">Know By</a></th>
                    <th ng-class="(orderByField!='status') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='status'; reverseSort = !reverseSort">Status</a></th>
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,com) in comeToKnowByList.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{com.know_by}}</td>
                    <td>{{com.status}}</td>
                    <td class="text-center">
                        <div>
                            <a href ng-click="viewComeToKnowBy(com);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a href ng-click="editComeToKnowBy(com);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                            <a ng-if="(admin.userType != 'EMPLOYEE' &&  admin.userType != 'CUSTOMER CARE EXECUTIVE') && com.status != 'InActive' " href ng-click="deleteComeToKnowBy(com);"><span class="fa fa-trash" aria-hidden="true"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="!comeToKnowByList.length">
            <h3>No record has been added.</h3> </div>
        <div class="text-center" ng-show="comeToKnowByList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
