<div class="block">
    <div class="block-title">
        <h2><strong>Command Center Setting</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group col-xs-12" ng-class="(err.value==true) ? 'has-error' : (err.value_cnd == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label col-xs-4" for="activeStatus">Mobile Number</label>
                <div class="col-xs-4">
                    <input type="text" ng-model="cc.value" ng-focus="err.value=false;err.value_cnd=false;" name="value" class="form-control" placeholder="Enter Command Center Number(Max. 15 digits)..">
                </div>
                <div class="col-xs-4">
                    <span class="text-danger" ng-show="err.value">Please enter mobile number.</span>
                    <span class="text-danger" ng-show="err.value_cnd">Please enter valid mobile number along with +91.</span>
                </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary " ng-click="updateCCS(cc); " style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancel(); " style="width:100px; "> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
