<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Country</div>
                <div class="box2 col-xs-6">{{country.country}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Code</div>
                <div class="box2 col-xs-6">{{country.code}}</div>
            </div>
    
        </div>

        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-warning " ng-click="cancelCountry();" style="width:100px;"> Back</button>
                </div>
            </div>
        </div>
    </form>
</div>


