<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="form-group" ng-class="(err.country == true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="country">Country</label>
            <div class="col-xs-5">
                <input type="text" ng-model="country.country" ng-focus="err.country=false;" name="country" class="form-control" placeholder="Enter country name..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.country">Please enter country name .</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.code == true) ? 'has-error' : 'has-primary'">
            <label class="col-xs-3 control-label" for="code">Code</label>
            <div class="col-xs-5">
                <input type="text" ng-model="country.code" ng-focus="err.code=false;" name="code" class="form-control" placeholder="Enter code ..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.code">Please enter code.</span>
            </div>
        </div>
   
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveCountry(country);" style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateCountry(country);" style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelCountry();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
      