<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">customer Name</div>
                <div class="box2 col-xs-6">{{customer.customer_name}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Email</div>
                <div class="box2 col-xs-6">{{customer.customer_email}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Mobile</div>
                <div class="box2 col-xs-6">{{customer.customer_mobile_number}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Address</div>
                <div class="box2 col-xs-6">{{customer.address}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">City</div>
                <div class="box2 col-xs-6">{{customer.city}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">State</div>
                <div class="box2 col-xs-6">{{customer.state}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Device IMEI</div>
                <div class="box2 col-xs-6">{{customer.device_imei}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Device Type</div>
                <div class="box2 col-xs-6">{{customer.device_type}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Device OS</div>
                <div class="box2 col-xs-6">{{customer.device_os}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Device Token</div>
                <div class="box2 col-xs-6" id="word-wrap">{{customer.device_token}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Active Status</div>
                <div class="box2 col-xs-6">{{customer.is_active}}</div>
            </div>
        </div>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Photo</div>
                <div class="box2 col-xs-6"><img src="{{customer.file_url}}" width="100%"></div>
            </div>
            <div class="col-xs-12 noPad bb" ng-repeat="attr in customerAttr">
                <div class="box1 col-xs-6">{{attr.attribute_name}}</div>
                <div class="box2 col-xs-6">{{attr.attribute_details}}</div>
            </div>
            <!-- <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Emergency Email</div>
                <div class="box2 col-xs-6">{{group.emergency_email}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Emergency Number</div>
                <div class="box2 col-xs-6">{{group.emergency_number}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Status</div>
                <div class="box2 col-xs-6">{{group.is_active}}</div>
            </div> -->
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-warning " ng-click="cancelCustomerMaster();" style="width:100px;"> Back</button>
                </div>
            </div>
        </div>
    </form>
</div>


