<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="form-group" ng-class="(err.customer_name == true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="customer_name">Customer Name</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.customer_name" ng-focus="err.customer_name=false;" name="customer_name" class="form-control" placeholder="Enter customer name..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.customer_name">Please enter customer name .</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.customer_email == true) ? 'has-error' : (err.customer_email_cdn == true) ? 'has-error' : 'has-primary'">
            <label class="col-xs-3 control-label" for="customer_email">Email</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.customer_email" ng-focus="err.customer_email=false;err.customer_email_cdn=false;" name="customer_email" class="form-control" placeholder="Enter customer email..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.customer_email">Please enter customer email.</span>
                <span class="text-danger" ng-show="err.customer_email_cdn">Please enter valid email address</span>
            </div>
        </div>
         <div class="form-group">
            <label class="col-xs-3 control-label" for="age">Age</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.age" name="age" class="form-control" placeholder="Enter customer age..">
            </div>
        </div>
        <div class="form-group"  ng-if="page.type=='post'" >
            <label class="col-xs-3 control-label" for="country_code">Country Code</label>
            <div class="col-xs-5">
            <select class="form-control " size="1" ng-model="customer.country_code">
                <option ng-repeat="country in globalCountryList" value={{country.code}}>{{country.code}}</option>
            </select>
            </div>
        </div>
        <div>
            <span class="text-danger" ng-if="err.country_code">Please select country code.</span>
        </div>
        <div class="form-group" ng-class="(err.customer_mobile_number==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="customer_mobile_number ">Phone Number</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.customer_mobile_number" ng-focus="err.customer_mobile_number=false;err.customer_mobile_number_cdn=false" name="customer_mobile_number" class="form-control" placeholder="Enter customer number..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.customer_mobile_number">Please enter customer phone number.</span
                >
                <span class="text-danger" ng-show="err.customer_mobile_number_cdn">Please enter 10 digit emergency number.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="address ">Address</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.address" name="address " class="form-control" placeholder="Enter customer address..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.address">Please enter address.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.city==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="city ">City</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.city" name="city " class="form-control" placeholder="Enter customer city..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.city ">Please enter city.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.state==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="state">State</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.state " name="state " class="form-control " placeholder="Enter state..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.city ">Please customer state.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.pincode==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="pincode ">Pincode</label>
            <div class="col-xs-5">
                <input type="text " ng-model="customer.pincode "  name="pincode " class="form-control " placeholder="Enter pincode.. ">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.pincode ">Please enter pincode.</span>
            </div>
        </div>
       <!--  <div class="form-group">
            <label class="col-md-3 control-label" for="uploadFile">Photo</label>
            <div class="form-group" ng-class="(err.image_url == true) ? 'has-error' : 'has-primary'" ng-hide="true">
                <div class="col-md-5">
                    <input type="file" file-model="image_url" ng-model="customer.image_url" ng-focus="err.image_url=false;" id="uploadFile" name="uploadFile" class="form-control" accept="image/*" placeholder="Enter display name..">
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.image_url">Please upload image.</span>
                </div>
            </div>
            <div>
                <div class="col-md-5">
                    <span class="glyphicon glyphicon-pencil" id="editFile" ng-click="chooseFile()">
                        </span>
                    <img name="imageName" class="imageName" id="imageName" src="#" ng-click="chooseFile()">
                    <span class="text-muted">(Max. size of the image should not exceed 1MB)</span>
                </div>
            </div>
        </div> -->
        <div class="form-group" ng-class="(err.device_imei==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="device_imei ">Device IMEI</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.device_imei" name="mobile" class="form-control" placeholder="Enter device IMEI..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.device_imei ">Please enter device imei.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.device_type==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="device_type">Device Type</label>
            <div class="col-xs-5">
                <select class="form-control" size="1" ng-model="customer.device_type" ng-class="(err.device_type==true) ? 'justBorder' : '' " >
                    <option value=" ">- Select Device OS -</option>
                    <option value="Android">Android</option>
                    <option value="iOS">iOS</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-class="(err.device_os==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="device_os ">Device OS</label>
            <div class="col-xs-5">
                <input type="text" ng-model="customer.device_os"  name="device_os " class="form-control " placeholder="Enter device type..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.device_os ">Please enter device token.</span>
            </div>
        </div>
        <div class="form-group" ng-class="(err.device_token==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label " for="device_token ">Device Token</label>
            <div class="col-xs-5">
                <input type="text " ng-model="customer.device_token"  name="device_token " class="form-control " placeholder="Enter device token.. ">
            </div>
            <div class="col-xs-4">
                <span class="text-danger " ng-show="err.device_token ">Please enter device token.</span>
            </div>
        </div>
        <div ng-if="page.type == 'put'" class="form-group" ng-class="(err.is_active==true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="is_active">Active Status</label>
            <div class="col-xs-5">
                <label class="switch switch-primary">
                    <input type="checkbox" ng-model="customer.is_active"><span></span></label>
                <span ng-show="customer.is_active">Active</span>
                <span ng-hide="customer.is_active">InActive</span>
            </div>
        </div>
        <!-- <div class="form-group col-xs-6 " ng-class="(err.is_active==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label " for="is_active">Active Status</label>
                <div>
                    <label class="switch switch-primary ">
                        <input type="checkbox" ng-model="customer.is_active"><span></span></label>
                    <span ng-show="customer.is_active">Active</span>
                    <span ng-hide="customer.is_active">InActive</span>
                </div>
            </div> -->
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveCustomerMaster(customer);" style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateCustomerMaster(customer);" style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelCustomerMaster();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 block" ng-hide="page.type == 'post'">
            <div class="form-group block-title1">
                <div class="col-xs-6">
                    <h2><strong>Attributes</strong> </h2>
                </div>
                <div class="text-right">
                    <button class="btn btn-md btn-primary" ng-click="addAttribute()">Add Attribute</button>
                </div>
            </div>
            <div class="form-group col-xs-12" ng-repeat="attr in customerAttr">
                <div class="col-xs-8" ng-if="attr.flag || attr.customer_id == undefined">
                    <div class="col-xs-6">
                        <!-- <input type="text" placeholder="Attribute Name" ng-model="attr.attribute_name" class="form-control"> -->
                        <select class="form-control" size="1" ng-model="attr.customer_e_type_id" ng-class="(err.device_type==true) ? 'justBorder' : '' " ng-focus="err.device_type=false ">
                            <option value="">select attibute</option>
                            <option ng-repeat="customer in customer_e_types_list track by $index" value={{customer.id}}>{{customer.type_name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" placeholder="Attribute Value" ng-model="attr.attribute_details" class="form-control">
                    </div>
                </div>
                <div class="col-xs-8" ng-if="!attr.flag && attr.customer_id">
                    <div class="col-xs-6">
                        <label class="control-label" for={{attr.attribute_name}}>{{attr.attribute_name}}</label>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label" for={{attr.attribute_details}}>{{attr.attribute_details}}</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-bg btn-info" ng-click="editAttribute(attr,customer)" ng-if="attr.customer_id && !attr.flag" style="width:100px;">Edit</button>
                    <button class="btn btn-bg btn-info" ng-click="updateAttribute(attr,customer)" ng-if="attr.flag && attr.customer_id" style="width:100px;">Update</button>
                    <button class="btn btn-bg btn-primary" ng-click="saveAttribute(attr,customer)" ng-if="attr.customer_id == undefined" style="width:100px;">Save</button>
                    <button class="btn btn-md btn-danger" ng-click="deleteAttribute(attr,customer)" style="width:100px;">Delete</button>
                </div>
            </div>
            <div class="text-center" ng-show="!customerAttr.length">
                <h3>No customer attributes has been added.</h3>
            </div>
        </div>
    </form>
</div>
