<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2 style="width:100%;"> <div class="col-sm-3"><strong>CUSTOMER MASTER</strong> </div>
     <div class="col-sm-9"  ng-show="upldfile.name">
                <div class="col-xs-11">
                    <div class="pull-right">
                        <i class="fa fa-file-excel-o"></i> 
                        <small> {{upldfile.name}} </small> 
                        <small> ({{upldfile.size}}) - </small>
                        <button class="btn btn-success btn-xs" ng-click="importExcelDoc()"> Upload</button>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="fileClose">
                        <i class="fa fa-times pull-left" ng-click="cancelImport();"></i>
                    </div>
                </div>
      
            </div>
            </h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows"> </select>
                </label>
            </div>
        </div>
        <!--        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" class="datepickerRest1 form-control"  data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="false" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" data-date-end-date="+0d"  placeholder="From date" call-date="selectedCal1" ng-change="getCustomerMasterList()" readonly>
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" id = "datepicker2"  class="datepickerRest2 form-control" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="false" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;"  placeholder="To date" call-date="selectedCal2" ng-change="getCustomerMasterList()" readonly>
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div> -->
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" id="startdate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" data-date-end-date="+0d" placeholder="From date" call-date="selectedCal1" ng-change="getCustomerMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" id="enddate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-end-date="+0d" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getCustomerMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
          <div class="col-sm-1">
            <button class="btn btn-info btn-sm " ng-click="fileUpLoad();"> <i class="fa fa-upload"></i> Upload</button>
            <input type="file" file-model="myFile" id="uploadFile" style="display: none;" onchange="angular.element(this).scope().catchUploadedFile()" />
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm" export-file="Customer_Master_Report_{{fromDate}}_{{toDate}}" ng-disabled="!customerMasterList.length"> <i class="fa fa-download"></i> Download</button>
        </div>
        <div class="col-sm-2">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewCustomerMaster();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!customerMasterList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng- class="(orderByField!='customer_name') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_name'; reverseSort = !reverseSort">Name</a></th>
                    <th ng- class="(orderByField!='customer_email') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_email'; reverseSort = !reverseSort">Email</a></th>
                    <th ng- class="(orderByField!='age') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='age'; reverseSort = !reverseSort">Age</a></th>
                    <th ng-class="(orderByField!='city')? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='city'; reverseSort = !reverseSort">City</a></th>
                    <th ng-class="(orderByField!='state') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='state'; reverseSort = !reverseSort">State</a></th>
                    <th ng-class="(orderByField!='address') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='address'; reverseSort = !reverseSort">Mobile</a></th>
                    <!--  <th ng-class="(orderByField!='pincode') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='pincode'; reverseSort = !reverseSort">Pincode</a></th> -->
                    <th ng-class="(orderByField!='device_imei')? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_imei'; reverseSort = !reverseSort">Device IMEI</a></th>
                    <th ng-class="(orderByField!='device_type') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_type'; reverseSort = !reverseSort">Device Type</a></th>
                    <th ng-class="(orderByField!='device_os') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_os'; reverseSort = !reverseSort">Device OS</a></th>
                    <th ng-class="(orderByField!='device_token') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_token'; reverseSort = !reverseSort">Device Token</a></th>
                    <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Status</a></th>
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,customer) in customerMasterList.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{customer.customer_name}}</td>
                    <td>{{customer.customer_email}}</td>
                    <td>{{customer.age!=0?customer.age:''}}</td>
                    <td>{{(customer.city!=null && customer.city!='null')?customer.city:''}}</td>
                    <td>{{(customer.state!=null && customer.state!='null')?customer.state:''}}</td>
                    <td>{{customer.customer_mobile_number}}</td>
                    <!-- <td>{{customer.pincode}}</td> -->
                    <td>{{(customer.device_imei!=null && customer.device_imei!='null')?customer.device_imei:''}}</td>
                    <td>{{(customer.device_type!=null && customer.device_type!='null')?customer.device_type:''}}</td>
                    <td>{{(customer.device_os!=null && customer.device_os!='null')?customer.device_os:''}}</td>
                    <td>{{(customer.device_token!='' && customer.device_token!=null && customer.device_token!='null' &&customer.device_token!=undefined && customer.device_token!='undefined')? 'XXXXX'+customer.device_token.substring(customer.device_token.length-4):''}}</td>
                    <td>{{customer.is_active}}</td>
                    <td class="text-center">
                        <!-- <div class="btn-group" role="customer" aria-label="...">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="editcustomerMaster(customer);" style="width:85px;"> Edit </button>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="deletecustomerMaster(customer);" style="width:85px;">Delete</button>
                        </div> -->
                        <div>
                            <a href ng-click="viewCustomerMaster(customer);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a href ng-click="editCustomerMaster(customer);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                            <a ng-if="(admin.userType != 'EMPLOYEE' &&  admin.userType != 'CUSTOMER CARE EXECUTIVE') && customer.is_active != 'InActive' " href ng-click="deleteCustomerMaster(customer);"><span class="fa fa-trash" aria-hidden="true"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="exportable" style="display:none;">
            <table id="example-datatable">
                <thead>
                    <tr>
                        <th ng- class="(orderByField!='customer_name') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_name'; reverseSort = !reverseSort">Name</a></th>
                        <th ng- class="(orderByField!='customer_email') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_email'; reverseSort = !reverseSort">Email</a></th>
                        <th ng- class="(orderByField!='age') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='age'; reverseSort = !reverseSort">Age</a></th>
                        <th ng-class="(orderByField!='city')? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='city'; reverseSort = !reverseSort">City</a></th>
                        <th ng-class="(orderByField!='state') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='state'; reverseSort = !reverseSort">State</a></th>
                        <th ng-class="(orderByField!='address') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='address'; reverseSort = !reverseSort">Mobile</a></th>
                        <!--  <th ng-class="(orderByField!='pincode') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='pincode'; reverseSort = !reverseSort">Pincode</a></th> -->
                        <th ng-class="(orderByField!='device_imei')? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_imei'; reverseSort = !reverseSort">Device IMEI</a></th>
                        <th ng-class="(orderByField!='device_type') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_type'; reverseSort = !reverseSort">Device Type</a></th>
                        <th ng-class="(orderByField!='device_os') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='device_os'; reverseSort = !reverseSort">Device OS</a></th>
                        <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Status</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(uKey,customer) in customerMasterList">
                        <td>{{customer.customer_name}}</td>
                        <td>{{customer.customer_email}}</td>
                        <td>{{customer.age}}</td>
                        <td>{{customer.city}}</td>
                        <td>{{customer.state}}</td>
                        <td>{{customer.customer_mobile_number}}</td>
                        <!-- <td>{{customer.pincode}}</td> -->
                        <td>{{customer.device_imei}}</td>
                        <td>{{customer.device_type}}</td>
                        <td>{{customer.device_os}}</td>
                        <td>{{customer.is_active}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" ng-show="!customerMasterList.length">
            <h3>No customer master has been added.</h3> </div>
        <div class="text-center" ng-show="customerMasterList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
<script>
/*$(function(){
var me = this;
    $('.datepickerRest2').datepicker({
        format: 'yyyy-mm-dd',
        startDate:'+0d',
    endDate:"+0d",
    toggleActive:true 
   //     autoclose: true
    }).on("changeDate", function(e) {
    me.datepicker1 = null;
    me.datepicker1 = $(".datepickerRest1").datepicker('setEndDate', e.date );
});

    $('.datepickerRest1').datepicker({
        format: 'yyyy-mm-dd',
        endDate: '+0d',
        autoclose: false
//  toggleActive: true
    }).on("changeDate", function(e) {
    me.datepicker2 = null;
    me.datepicker2 = $(".datepickerRest2").datepicker('setStartDate', e.date );
});

});*/
</script>
