<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group" ng-class="(err.group_id==true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label" for="group_id ">Group</label>
                <div class="col-md-5">
                    <select class="form-control " size="1" ng-model="driver.group_id" ng-class="(err.group_id==true) ? 'justBorder' : '' " ng-focus="err.group_id=false ">
                        <option value="">- Select Group -</option>
                        <option ng-repeat="group in globalGroupMasterList" value={{group.group_id}}>{{group.group_name}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span class="text-danger " ng-show="err.group_id">Please select group type.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.driver_name == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label" for="driver_name">Driver Name</label>
                <div class="col-md-5">
                    <input type="text" ng-model="driver.driver_name" ng-focus="err.driver_name=false;" name="driver_name" class="form-control" placeholder="Enter driver name..">
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.driver_name">Please enter driver name.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.driver_mobile_number==true) ? 'has-error' : (err.driver_mobile_number_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label" for="driver_mobile_number ">Mobile</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="driver.driver_mobile_number" ng-focus="err.driver_mobile_number=false;err.driver_mobile_number_cdn=false;" name="driver_mobile_number " class="form-control" placeholder="Enter mobile number..">
                </div>
                <div class="col-xs-4">
                    <span class="text-danger" ng-show="err.driver_mobile_number">Please enter mobile number.</span>
                    <span class="text-danger" ng-show="err.driver_mobile_number_cdn">Please enter 10 digit mobile number.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.driver_email==true) ? 'has-error' : (err.driver_email_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label" for="driver_email">Email</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="driver.driver_email" ng-focus="err.driver_email=false;err.driver_email_cdn=false;" name="driver_email " class="form-control" placeholder="Enter driver email.. ">
                </div>
                <div class="col-xs-4">
                    <span class="text-danger " ng-show="err.driver_email ">Please enter email.</span>
                    <span class="text-danger" ng-show="err.driver_email_cdn">Please enter valid email address</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.license_number==true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label" for="license_number">License Number</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="driver.license_number" ng-focus="err.license_number=false;" name="license_number " class="form-control" placeholder="Enter license number.. ">
                </div>
                <div class="col-xs-4">
                    <span class="text-danger " ng-show="err.license_number ">Please enter license number.</span>
                </div>
            </div>
            <div class="form-group" ng-if="page.type == 'put'">
                <label class="col-xs-3 control-label" for="driver_pin">Driver Pin</label>
                <div class="col-xs-5">
                    <input type="text" ng-model="driver.driver_pin" name="driver_pin " class="form-control" placeholder="Enter driver pin.. " ng-disabled="true">
                </div>
                <!-- <div class="col-xs-4">
                    <span class="text-danger " ng-show="err.group_longitude ">Please enter driver pin.</span>
                </div> -->
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="uploadFile">Photo</label>
                <div class="form-group" ng-class="(err.image_url == true) ? 'has-error' : 'has-primary'" ng-hide="true">
                    <div class="col-md-5">
                        <input type="file" file-model="image_url" ng-model="driver.image_url" ng-focus="err.image_url=false;" id="uploadFile" name="uploadFile" class="form-control" accept="image/*">
                    </div>
                    <div class="col-md-4">
                        <span class="text-danger" ng-show="err.image_url">Please upload photo.</span>
                    </div>
                </div>
                <div>
                    <div class="col-md-5">
                        <span class="glyphicon glyphicon-pencil" id="editFile" ng-click="chooseFile()">
                        </span>
                        <img name="imageName" class="imageName" id="imageName" src="#" ng-click="chooseFile()">
                        <span class="text-muted">(Max. size of the image should not exceed 1MB)</span>
                    </div>
                </div>
            </div>
            <div ng-if="page.type == 'put'" class="form-group" ng-class="(err.is_active==true) ? 'has-error' : 'has-primary' ">
                <label class="col-xs-3 control-label " for="is_active">Active Status</label>
                <div class="col-xs-5">
                    <label class="switch switch-primary ">
                        <input type="checkbox" ng-model="driver.is_active" ng-change="checkDriverMapping(driver)"><span></span></label>
                    <span ng-show="driver.is_active">Active</span>
                    <span ng-hide="driver.is_active">InActive</span>
                </div>
            </div>
            <div class="col-xs-12 text-center ">
                <div class="form-group form-actions ">
                    <div>
                        <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveDriverMaster(driver);" style="width:100px; "> Save</button>
                        <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateDriverMaster(driver);" style="width:100px; "> Update</button>
                        <button class="btn btn-md btn-warning " ng-click="cancelDriverMaster();" style="width:100px;"> Cancel</button>
                    </div>
                </div>
            </div>
    </form>
</div>
