<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2 style="width:100%;"> <div class="col-sm-3"><strong>DRIVER MASTER</strong></div>
     <div class="col-sm-9"  ng-show="upldfile.name">
                <div class="col-xs-11">
                    <div class="pull-right">
                        <i class="fa fa-file-excel-o"></i> 
                        <small> {{upldfile.name}} </small> 
                        <small> ({{upldfile.size}}) - </small>
                        <button class="btn btn-success btn-xs" ng-click="importExcelDoc()"> Upload</button>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="fileClose">
                        <i class="fa fa-times pull-left" ng-click="cancelImport();"></i>
                    </div>
                </div>
            </div>
            </h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows">
                    </select>
                </label>
            </div>
        </div>
        <!--  <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" placeholder="From date" call-date="selectedCal1" ng-change="getDriverMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getDriverMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div> -->
                <div class="col-sm-2">
            <button class="btn btn-info btn-sm " ng-click="fileUpLoad();"> <i class="fa fa-upload"></i> Upload</button>
            <input type="file" file-model="myFile" id="uploadFile" style="display: none;" onchange="angular.element(this).scope().catchUploadedFile()" />
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm" export-file="Driver_Master_Report" ng-disabled="!driverMasterList.length"> <i class="fa fa-download"></i> Download</button>
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2" ng-if="admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE'">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewDriverMaster();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!driverMasterList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng-class="(orderByField!='group_id') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_id'; reverseSort = !reverseSort">Group</a></th>
                    <th ng-class="(orderByField!='driver_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_name'; reverseSort = !reverseSort">Driver Name</a></th>
                    <th ng-class="(orderByField!='driver_mobile_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_mobile_number'; reverseSort = !reverseSort">Mobile Number</a></th>
                    <th ng-class="(orderByField!='driver_email') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_email'; reverseSort = !reverseSort">Email</a></th>
                    <th ng-class="(orderByField!='license_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='license_number'; reverseSort = !reverseSort">License Number</a></th>
                    <th ng-class="(orderByField!='driver_pin') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_pin'; reverseSort = !reverseSort">Driver Pin</a></th>
                    <!-- <th ng-class="(orderByField!='file_url') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='file_url'; reverseSort = !reverseSort">File URL</a></th> -->
                    <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Status</a></th>
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,driver) in driverMasterList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{driver.groupName}}</td>
                    <td>{{driver.driver_name}}</td>
                    <td>{{driver.driver_mobile_number}}</td>
                    <td>{{driver.driver_email}}</td>
                    <td>{{driver.license_number}}</td>
                    <td>{{driver.driver_pin}}</td>
                    <!-- <td>{{driver.file_url}}</td> -->
                    <td>{{driver.is_active}}</td>
                    <td class="text-center">
                        <div aria-label="...">
                            <a href ng-click="viewDriverMaster(driver);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a ng-if="admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE'" href ng-click="editDriverMaster(driver);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                            <a ng-if="(admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE') && driver.is_active != 'InActive'" href ng-click="deleteDriverMaster(driver);"><span class="fa fa-trash" aria-hidden="true"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="exportable" style="display:none;">
            <table id="example-datatable">
                <thead>
                    <tr>
                        <th ng-class="(orderByField!='group_id') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_id'; reverseSort = !reverseSort">Group</a></th>
                        <th ng-class="(orderByField!='driver_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_name'; reverseSort = !reverseSort">Driver Name</a></th>
                        <th ng-class="(orderByField!='driver_mobile_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_mobile_number'; reverseSort = !reverseSort">Mobile Number</a></th>
                        <th ng-class="(orderByField!='driver_email') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='driver_email'; reverseSort = !reverseSort">Email</a></th>
                        <th ng-class="(orderByField!='license_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='license_number'; reverseSort = !reverseSort">License Number</a></th>
                        <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Status</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(uKey,driver) in driverMasterList">
                        <td>{{driver.groupName}}</td>
                        <td>{{driver.driver_name}}</td>
                        <td>{{driver.driver_mobile_number}}</td>
                        <td>{{driver.driver_email}}</td>
                        <td>{{driver.license_number}}</td>
                        <td>{{driver.is_active}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" ng-show="!driverMasterList.length">
            <h3>No driver master has been added.</h3>
        </div>
        <div class="text-center" ng-show="driverMasterList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
