<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group</div>
                <div class="box2 col-xs-6">{{driver.groupName}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Driver Name</div>
                <div class="box2 col-xs-6">{{driver.driver_name}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Mobile</div>
                <div class="box2 col-xs-6">{{driver.driver_mobile_number}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Email</div>
                <div class="box2 col-xs-6">{{driver.driver_email}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Pin</div>
                <div class="box2 col-xs-6">{{driver.driver_pin}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">License Number</div>
                <div class="box2 col-xs-6">{{driver.license_number}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Active Status</div>
                <div class="box2 col-xs-6">{{driver.is_active}}</div>
            </div>
        </div>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Photo</div>
                <div class="box2 col-xs-6">
                <img src="{{driver.file_url}}" width="100%"></div>
            </div>
            <!-- <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Emergency Email</div>
                <div class="box2 col-xs-6">{{group.emergency_email}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Emergency Number</div>
                <div class="box2 col-xs-6">{{group.emergency_number}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Status</div>
                <div class="box2 col-xs-6">{{group.is_active}}</div>
            </div> -->
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-warning " ng-click="cancelDriverMaster();" style="width:100px;"> Back</button>
                </div>
            </div>
        </div>
    </form>
</div>


