<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group col-xs-6" ng-class="(err.type_name == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="type_name">Emergency Type</label>
                <div>
                    <input type="text" ng-model="emergencyType.type_name" ng-focus="err.type_name=false;" name="type_name" class="form-control" placeholder="Enter emergency type.." ng-disabled="page.type == 'put'">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.type_name">Please enter emergency type .</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-if="page.type == 'put'" class="form-group" ng-class="(err.is_active==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="is_active">Active Status</label>
                <div>
                    <label class="switch switch-primary ">
                        <input type="checkbox" ng-model="emergencyType.status"><span></span></label>
                    <span ng-show="emergencyType.status">Active</span>
                    <span ng-hide="emergencyType.status">InActive</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary " ng-if="page.type=='post' " ng-click="saveEmergencyType(emergencyType); " style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put' " class="btn btn-md btn-primary " ng-click="updateEmergencyType(emergencyType); " style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelEmergencyType(); " style="width:100px; "> Cancel</button>
                </div>
            </div>
        </div>
    </div>

</form>

</div>
