<div class="block full">
    <div class="block-title">
        <h2 style="width:100%;padding: 2px;">

            <div class="col-sm-3" style="padding-top:10px;">
                <strong>FAQ </strong>
            </div>
            <div class="col-sm-4">

          
            </div>          
            <div class="col-sm-3 mt5">
                    <label class="labelnew">
                        <input type="radio" ng-model="app_id" value="customer" ng-change="getFaqList()" class="ng-pristine ng-untouched ng-valid"> Customer
                    </label>
                    <label class="labelnew">
                        <input type="radio" ng-model="app_id" value="ambulance" ng-change="getFaqList()" class="ng-pristine ng-untouched ng-valid"> Ambulance
                    </label>
                   
            </div>       
                <div class="col-xs-2">
                    <button class="btn btn-primary btn-sm pull-right" style="margin:6px 6px 0px 2px;width:100px;" ng-click="addFAQ();">Add New</button>
                </div>

        </h2>
    </div>
    <div id="FAQ" class="panel-group">
        <div class="panel panel-default" ng-repeat="(key,faq) in faqList">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" ng-click="showUbtBtns($index);" data-toggle="collapse" data-parent="#FAQ" href="//#FAQ_{{$index}}"> {{$index+1}}. {{faq.question}}</a>
                    <div class="pull-right" ng-show="ubtBtns[$index] == true">
                        <button class="btn btn-primary btn-xs" ng-click="editFAQ(faq);" style="width:54px;">Edit</button>
                        <button class="btn btn-danger btn-xs"  ng-click="deleteFAQ(faq);">Delete</button>
                    </div>
                </h4>
            </div>
            <div id="FAQ_{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>{{faq.answer}}</p>
                </div>
            </div>
        </div>
        <div class="text-center" ng-show="!faqList.length">
            <h3>No FAQ has been added.</h3>
        </div>
    </div>
</div>
