<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>Feedback </strong></h2> </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows"> </select>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" id="startdate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" data-date-end-date="+0d" placeholder="From date" call-date="selectedCal1" ng-change="getFeedbackList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" id="enddate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-end-date="+0d" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getFeedbackList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm" export-file="Feedback_Report_{{fromDate}}_{{toDate}}" ng-disabled="!feedBackList.length"> <i class="fa fa-download"></i> Download</button>
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!feedBackList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng- class="(orderByField!='booking_id') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booking_id'; reverseSort = !reverseSort">Booking Id</a></th>
                    <th ng- class="(orderByField!='customer_number') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_number'; reverseSort = !reverseSort">Customer Number</a></th>
                    <th ng- class="(orderByField!='points') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='points'; reverseSort = !reverseSort">Points</a></th>
                    <th ng- class="(orderByField!='reason') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='reason'; reverseSort = !reverseSort">Reason</a></th>
                    <th ng- class="(orderByField!='reason') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='reason'; reverseSort = !reverseSort">Created Date</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,fb) in feedBackList.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{fb.booking_id}}</td>
                    <td>{{fb.customer_number}}</td>
                    <td>{{fb.points}}</td>
                    <td>{{fb.reason}}</td>
                    <td>{{fb.created_date}}</td>
                </tr>
            </tbody>
        </table>
        <div id="exportable" style="display:none;">
            <table id="example-datatable">
 <thead>
                <tr>
                    <th ng- class="(orderByField!='booking_id') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='booking_id'; reverseSort = !reverseSort">Booking Id</a></th>
                    <th ng- class="(orderByField!='customer_number') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='customer_number'; reverseSort = !reverseSort">Customer Number</a></th>
                    <th ng- class="(orderByField!='points') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='points'; reverseSort = !reverseSort">Points</a></th>
                    <th ng- class="(orderByField!='reason') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='reason'; reverseSort = !reverseSort">Reason</a></th>
                    <th ng- class="(orderByField!='reason') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='reason'; reverseSort = !reverseSort">Created Date</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,fb) in feedBackList">
                    <td>{{fb.booking_id}}</td>
                    <td>{{fb.customer_number}}</td>
                    <td>{{fb.points}}</td>
                    <td>{{fb.reason}}</td>
                    <td>{{fb.created_date}}</td>
                </tr>
            </tbody>
	    </table>
        </div>
        <div class="text-center" ng-show="!feedBackList.length">
            <h3>No Feedbeek has been given.</h3> </div>
        <div class="text-center" ng-show="feedBackList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
