<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>GEO HASHES </strong></h2> </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows"> </select>
                </label>
            </div>
        </div>

      
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewGeoHash();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!geoHashList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng- class="(orderByField!='geo_hash') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='geo_hash'; reverseSort = !reverseSort">Status</a></th>
                    
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,geoHash) in geoHashList.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{geoHash.geo_hash}}</td>
                    <td class="text-center">
                        <div>
                            <a href ng-click="viewGeoHash(geoHash);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a href ng-click="editGeoHash(geoHash);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                           <!--  <a ng-if="(admin.userType != 'EMPLOYEE' &&  admin.userType != 'CUSTOMER CARE EXECUTIVE') && customer.is_active != 'InActive' " href ng-click="deleteCountry(country);"><span class="fa fa-trash" aria-hidden="true"></span></a> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="!geoHashList.length">
            <h3>No Geo Hash has been added.</h3> </div>
        <div class="text-center" ng-show="geoHashList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>

