<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="form-group" ng-class="(err.geo_hash == true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="status">Geo Hashes</label>
            <div class="col-xs-5">
                <input type="text" ng-model="geoHash.geo_hash" ng-focus="err.geo_hash=false;" name="status" class="form-control" placeholder="Enter Geo Hash ..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.geo_hash">Please enter geo hash.</span>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveGeoHash(geoHash);" style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateGeoHash(geoHash);" style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelGeoHash();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
