<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group col-xs-6" ng-class="(err.group_name == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="group_name">Group Name</label>
                <div>
                    <input type="text" ng-model="group.group_name" ng-focus="err.group_name=false;" name="group_name" class="form-control" placeholder="Enter group name..">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.group_name">Please enter group name .</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="(err.group_short_name == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="group_short_name">Short Name</label>
                <div>
                    <input type="text" ng-model="group.group_short_name" ng-focus="err.group_short_name=false;" name="group_short_name" class="form-control" placeholder="Enter short name..">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.group_short_name">Please enter short name.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group col-xs-6 " ng-class="(err.group_type==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label " for="group_type ">Group Type</label>
                <div>
                    <select class="form-control " size="1" ng-model="group.group_type" ng-class="(err.group_type==true) ? 'justBorder' : '' " ng-focus="err.group_type=false">
                        <option value="">- Select Group Type -</option>
                        <option ng-repeat="groupType in groupTypeList | orderBy: 'type_name'" value={{groupType.id}} ng-hide="groupType.type_name == 'Any Ambulance'">{{groupType.type_name}}</option>
                    </select>
                </div>
                <div>
                    <span class="text-danger " ng-show="err.group_type">Please select group type.</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="(err.group_limit==true) ? 'has-error' : (err.group_limit_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="group_limit ">Group Limit</label>
                <div>
                    <input type="text" ng-model="group.group_limit" name="group_limit " class="form-control" placeholder="Enter group limit.." ng-focus="err.group_limit=false;err.group_limit_cdn=false ">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.group_limit">Please enter group limit.</span>
                    <span class="text-danger" ng-show="err.group_limit_cdn">Please enter group limit as number</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="form-group col-xs-6" ng-class="(err.selectedEmergencyType==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="selectedEmergencyType">Emergency Type</label>
                <div>
                    <div ng-dropdown-multiselect="" class="multipleSelect" extra-settings="dropdownSettings" options="emergencyTypeOptions" selected-model="selectedEmergencyType"  translation-texts="translationText" checkboxes="true">
                    </div>
                </div>
                <div>
                    <span class="text-danger" ng-show="err.selectedEmergencyType">Please select emergency type.</span>
                </div>
            </div>
            <div class="form-group col-xs-3" ng-class="(err.group_latitude==true) ? 'has-error' : (err.group_latitude_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="group_latitude">Group Latitude</label>
                <div>
                    <input type="text" ng-model="group.group_latitude" ng-focus="err.group_latitude=false;err.group_latitude_cdn=false;" name="group_latitude " class="form-control" placeholder="Enter group latitude.. ">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.group_latitude">Please enter group latitude.</span>
                    <span class="text-danger" ng-show="err.group_latitude_cdn">Please enter valid group latitude.</span>
                </div>
            </div>
            <div class="form-group col-xs-3" ng-class="(err.group_longitude==true) ? 'has-error' : (err.group_longitude_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="group_longitude">Group Longitude</label>
                <div>
                    <input type="text" ng-model="group.group_longitude" ng-focus="err.group_longitude=false;err.group_longitude_cdn=false;" name="group_longitude " class="form-control" placeholder="Enter group longitude.. ">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.group_longitude">Please enter group longitude.</span>
                    <span class="text-danger" ng-show="err.group_longitude_cdn">Please enter valid group longitude.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="form-group col-xs-6" ng-class="(err.group_address==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="group_address">Group Address</label>
                <div>
                    <input type="text" ng-model="group.group_address" name="group_address " class="form-control" placeholder="Enter group address.. ">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.group_address ">Please enter group address.</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="(err.group_city==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="group_city">Group City</label>
                <div>
                    <input type="text" ng-model="group.group_city" name="group_city " class="form-control" placeholder="Enter group city.. ">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.group_city ">Please enter city.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="form-group col-xs-6" ng-class="(err.group_state==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="group_state">Group State</label>
                <div>
                    <input type="text" ng-model="group.group_state" name="group_state " class="form-control" placeholder="Enter group state.. ">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.group_state ">Please enter state.</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="(err.pincode==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="pincode">Pincode</label>
                <div>
                    <input type="text" ng-model="group.pincode" name="pincode " class="form-control" placeholder="Enter pincode.. ">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.pincode ">Please enter pincode.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="form-group col-xs-6" ng-class="(err.emergency_contact==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="emergency_contact">Emergency Contact Name</label>
                <div>
                    <input type="text" ng-model="group.emergency_contact" ng-focus="err.emergency_contact=false;" name="emergency_contact " class="form-control" placeholder="Enter emergency contact.. ">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.emergency_contact ">Please enter emergency contact.</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="(err.emergency_email==true) ? 'has-error' : (err.emergency_email_cdn == true) ? 'has-error' : 'has-primary'">
                <label class="control-label" for="emergency_email">Emergency Email</label>
                <div>
                    <input type="text" ng-model="group.emergency_email" ng-focus="err.emergency_email=false;err.emergency_email_cdn=false" name="emergency_email " class="form-control" placeholder="Enter Emerygency email.. ">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.emergency_email">Please enter emergency email.</span>
                    <span class="text-danger" ng-show="err.emergency_email_cdn">Please enter valid email address.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="form-group col-xs-6" ng-class="(err.emergency_number==true) ? 'has-error' : (err.emergency_number_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="emergency_number">Emergency Number</label>
                <div>
                    <input type="text" ng-model="group.emergency_number" ng-focus="err.emergency_number=false;err.emergency_number_cdn=false;" name="emergency_number " class="form-control" placeholder="Enter Emerygency number.. ">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.emergency_number">Please enter emergency number.</span>
                    <span class="text-danger" ng-show="err.emergency_number_cdn">Please enter max. 11 digit emergency number.</span>
                </div>
            </div>
            <div ng-if="page.type == 'put'" class="form-group col-xs-6 " ng-class="(err.is_active==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label " for="is_active">Group Status</label>
                <div>
                    <label class="switch switch-primary ">
                        <input type="checkbox" ng-model="group.is_active"><span></span></label>
                    <span ng-show="group.is_active">Active</span>
                    <span ng-hide="group.is_active">InActive</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveGroupMaster(group);" style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateGroupMaster(group);" style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelGroupMaster();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 block" ng-hide="page.type == 'post'">
            <div class="form-group block-title1">
                <div class="col-xs-6">
                    <h2><strong>Attributes</strong> </h2>
                </div>
                <div class="text-right">
                    <button class="btn btn-md btn-primary" ng-click="addAttribute()">Add Attribute</button>
                </div>
            </div>
            <div class="form-group col-xs-12" ng-repeat="attr in groupAttr">
                <div class="col-xs-8" ng-if="attr.flag || attr.group_id == undefined">
                    <div class="col-xs-6">
                        <!-- <input type="text" placeholder="Attribute Name" ng-model="attr.attribute_name" class="form-control"> -->
                        <select class="form-control" size="1" ng-model="attr.group_e_type_id" ng-class="(err.device_type==true) ? 'justBorder' : '' " ng-focus="err.device_type=false ">
                            <option value="">select attibute</option>
                            <option ng-repeat="group in group_e_types_list track by $index" value={{group.id}}>{{group.type_name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" placeholder="Attribute Value" ng-model="attr.attribute_details" class="form-control">
                    </div>
                </div>
                <div class="col-xs-8" ng-if="!attr.flag && attr.group_id">
                    <div class="col-xs-6">
                        <label class="control-label" for={{attr.attribute_name}}>{{attr.attribute_name}}</label>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label" for={{attr.attribute_details}}>{{attr.attribute_details}}</label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-bg btn-info" ng-click="editAttribute(attr,group)" ng-if="attr.group_id && !attr.flag" style="width:100px;">Edit</button>
                    <button class="btn btn-bg btn-info" ng-click="updateAttribute(attr,group)" ng-if="attr.flag && attr.group_id" style="width:100px;">Update</button>
                    <button class="btn btn-bg btn-primary" ng-click="saveAttribute(attr,group)" ng-if="attr.group_id == undefined" style="width:100px;">Save</button>
                    <button class="btn btn-md btn-danger" ng-click="deleteAttribute(attr,group)" style="width:100px;">Delete</button>
                </div>
            </div>
            <div class="text-center" ng-show="!groupAttr.length">
                <h3>No group attributes has been added.</h3>
            </div>
        </div>
    </form>
</div>
