<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Name</div>
                <div class="box2 col-xs-6">{{group.group_name}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Short Name</div>
                <div class="box2 col-xs-6">{{group.group_short_name}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Type</div>
                <div class="box2 col-xs-6">{{group.groupTypeName}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Limit</div>
                <div class="box2 col-xs-6">{{group.group_limit}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Latitude</div>
                <div class="box2 col-xs-6">{{group.group_latitude}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Longitude</div>
                <div class="box2 col-xs-6">{{group.group_longitude}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Address</div>
                <div class="box2 col-xs-6">{{group.group_address}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">State</div>
                <div class="box2 col-xs-6">{{group.group_state}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">City</div>
                <div class="box2 col-xs-6">{{group.group_city}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Pincode</div>
                <div class="box2 col-xs-6">{{group.pincode}}</div>
            </div>
        </div>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Emergency Contact</div>
                <div class="box2 col-xs-6">{{group.emergency_contact}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Emergency Email</div>
                <div class="box2 col-xs-6">{{group.emergency_email}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Emergency Number</div>
                <div class="box2 col-xs-6">{{group.emergency_number}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Group Status</div>
                <div class="box2 col-xs-6">{{group.is_active}}</div>
            </div>
            <div class="col-xs-12 noPad bb" ng-repeat="attr in groupAttr">
                <div class="box1 col-xs-6">{{attr.attribute_name}}</div>
                <div class="box2 col-xs-6">{{attr.attribute_details}}</div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-warning" ng-click="cancelGroupMaster();" style="width:100px;"> Back</button>
                </div>
            </div>
        </div>
    </form>
</div>


