<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2 style="width:100%;"> <div class="col-sm-3"><strong>GROUP MASTER</strong></div>
        <div class="col-sm-9"  ng-show="upldfile.name">
                <div class="col-xs-11">
                    <div class="pull-right">
                        <i class="fa fa-file-excel-o"></i> 
                        <small> {{upldfile.name}} </small> 
                        <small> ({{upldfile.size}}) - </small>
                        <button class="btn btn-success btn-xs" ng-click="importExcelDoc()"> Upload</button>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="fileClose">
                        <i class="fa fa-times pull-left" ng-click="cancelImport();"></i>
                    </div>
                </div>
            </div>
            </h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows">
                    </select>
                </label>
            </div>
        </div>
        <!--  <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" placeholder="From date" call-date="selectedCal1" ng-change="getGroupMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getGroupMasterList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div> -->
         <div class="col-sm-2">
            <button class="btn btn-info btn-sm " ng-click="fileUpLoad();"> <i class="fa fa-upload"></i> Upload</button>
            <input type="file" file-model="myFile" id="uploadFile" style="display: none;" onchange="angular.element(this).scope().catchUploadedFile()" />
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm" export-file="Hospital_Report" ng-disabled="!groupMasterList.length"> <i class="fa fa-download"></i> Download</button>
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2" ng-if="admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE'">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewGroupMaster();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!groupMasterList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng-class="(orderByField!='group_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_name'; reverseSort = !reverseSort">Group Name</a></th>
                    <th ng-class="(orderByField!='group_short_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_short_name'; reverseSort = !reverseSort">Short Name</a></th>
                    <th ng-class="(orderByField!='group_type') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_type'; reverseSort = !reverseSort">Group Type</a></th>
                    <th ng-class="(orderByField!='group_limit') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_limit'; reverseSort = !reverseSort">Limit</a></th>
                    <th ng-class="(orderByField!='active_count') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='active_count'; reverseSort = !reverseSort">Active Ambulances</a></th>
                    <th ng-class="(orderByField!='group_latitude') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_latitude'; reverseSort = !reverseSort">Latitude</a></th>
                    <th ng-class="(orderByField!='group_longitude') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_longitude'; reverseSort = !reverseSort"> Longitude</a></th>
                    <th ng-class="(orderByField!='group_address') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_address'; reverseSort = !reverseSort"> Address</a></th>
                    <th ng-class="(orderByField!='group_city') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_city'; reverseSort = !reverseSort">City</a></th>
                    <th ng-class="(orderByField!='pincode') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='pincode'; reverseSort = !reverseSort">Pincode</a></th>
                    <th ng-class="(orderByField!='group_state') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_state'; reverseSort = !reverseSort">State</a></th>
                    <th ng-class="(orderByField!='emergency_contact') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='emergency_contact'; reverseSort = !reverseSort">Emergency Contact</a></th>
                    <th ng-class="(orderByField!='emergency_email') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='emergency_email'; reverseSort = !reverseSort">Emergency Email</a></th>
                    <th ng-class="(orderByField!='emergency_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='emergency_number'; reverseSort = !reverseSort">Emergency Number</a></th>
                    <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Status</a></th>
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,group) in groupMasterList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{group.group_name}}</td>
                    <td>{{group.group_short_name}}</td>
                    <td>{{group.groupTypeName}}</td>
                    <td>{{group.group_limit}}</td>
                    <td>{{group.active_count}}</td>
                    <td>{{group.group_latitude}}</td>
                    <td>{{group.group_longitude}}</td>
                    <td>{{group.group_address}}</td>
                    <td>{{group.group_city}}</td>
                    <td>{{group.pincode}}</td>
                    <td>{{group.group_state}}</td>
                    <td>{{group.emergency_contact}}</td>
                    <td>{{group.emergency_email}}</td>
                    <td>{{group.emergency_number}}</td>
                    <td>{{group.is_active}}</td>
                    <td class="text-center">
                        <!-- <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="editGroupMaster(group);" style="width:85px;"> Edit </button>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="deleteGroupMaster(group);" style="width:85px;">Delete</button>
                        </div> -->
                        <div>
                            <a href ng-click="viewGroupMaster(group);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a ng-if="admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE'" href ng-click="editGroupMaster(group);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                            <a ng-if="(admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE') && group.is_active != 'InActive'" href ng-click="deleteGroupMaster(group);"><span class="fa fa-trash" aria-hidden="true"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="exportable" style="display:none;">
            <table id="example-datatable">
                <thead>
                    <tr>
                        <th ng-class="(orderByField!='group_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_name'; reverseSort = !reverseSort">Group Name</a></th>
                        <th ng-class="(orderByField!='group_short_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_short_name'; reverseSort = !reverseSort">Short Name</a></th>
                        <th ng-class="(orderByField!='group_type') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_type'; reverseSort = !reverseSort">Group Type</a></th>
                        <th ng-class="(orderByField!='group_limit') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_limit'; reverseSort = !reverseSort">Limit</a></th>
                        <th ng-class="(orderByField!='active_count') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='active_count'; reverseSort = !reverseSort">Active Ambulances</a></th>
                        <th ng-class="(orderByField!='group_lattitude') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_lattitude'; reverseSort = !reverseSort">Latitude</a></th>
                        <th ng-class="(orderByField!='group_longitude') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_longitude'; reverseSort = !reverseSort"> Longitude</a></th>
                        <th ng-class="(orderByField!='group_address') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_address'; reverseSort = !reverseSort"> Address</a></th>
                        <th ng-class="(orderByField!='group_city') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_city'; reverseSort = !reverseSort">City</a></th>
                        <th ng-class="(orderByField!='pincode') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='pincode'; reverseSort = !reverseSort">Pincode</a></th>
                        <th ng-class="(orderByField!='group_state') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='group_state'; reverseSort = !reverseSort">State</a></th>
                        <th ng-class="(orderByField!='emergency_contact') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='emergency_contact'; reverseSort = !reverseSort">Emergency Contact</a></th>
                        <th ng-class="(orderByField!='emergency_email') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='emergency_email'; reverseSort = !reverseSort">Emergency Email</a></th>
                        <th ng-class="(orderByField!='emergency_number') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='emergency_number'; reverseSort = !reverseSort">Emergency Number</a></th>
                        <th ng-class="(orderByField!='is_active') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='is_active'; reverseSort = !reverseSort">Status</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(uKey,group) in groupMasterList">
                        <td>{{group.group_name}}</td>
                        <td>{{group.group_short_name}}</td>
                        <td>{{group.groupTypeName}}</td>
                        <td>{{group.group_limit}}</td>
                        <td>{{group.active_count}}</td>
                        <td>{{group.group_latitude}}</td>
                        <td>{{group.group_longitude}}</td>
                        <td>{{group.group_address}}</td>
                        <td>{{group.group_city}}</td>
                        <td>{{group.pincode}}</td>
                        <td>{{group.group_state}}</td>
                        <td>{{group.emergency_contact}}</td>
                        <td>{{group.emergency_email}}</td>
                        <td>{{group.emergency_number}}</td>
                        <td>{{group.is_active}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" ng-show="!groupMasterList.length">
            <h3>No group master has been added.</h3>
        </div>
        <div class="text-center" ng-show="groupMasterList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
