<!-- Mini Top Stats Row -->
<div class="row" >
    <div class="col-sm-6 col-lg-4" ng-show="admin.userType == 'ADMIN'">
        <a href="#/Group-Master" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.groupCount}}<strong> </h1>
                    <p class="text-center">Group</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4" >
        <a href="#/Ambulance-Master" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.ambulanceCount}}<strong> </h1>
                    <p class="text-center">Ambulance</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4" ng-show="admin.userType == 'ADMIN'">
        <a href="#/Customer-Master" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.customers}}<strong> </h1>
                    <p class="text-center">App Users</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4" ng-show="admin.userType == 'GROUP ADMIN'">
        <a href="#/Driver-Master" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.driversCount}}<strong> </h1>
                    <p class="text-center">Drivers</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4">
        <a href="#/Booking" class="widget widget-hover-effect1" ng-click="clearFilterBooking();">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.noOfJobs}}<strong> </h1>
                    <p class="text-center">No. of Jobs</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4">
        <a href="#/Booking" class="widget widget-hover-effect1" ng-click="filterBooking('completed');">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.completed}}<strong> </h1>
                    <p class="text-center">Completed</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4">
        <a href="#/Booking" class="widget widget-hover-effect1" ng-click="filterBooking('inprogress');">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.inprogress}}<strong> </h1>
                    <p class="text-center">In Progress</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4">
        <a href="#/Booking" class="widget widget-hover-effect1" ng-click="filterBooking('cancelled');">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.cancelled}}<strong> </h1>
                    <p class="text-center">Cancelled</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4">
        <a href="#/New-Booking" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>New Emergency<strong> </h1>
                    <p class="text-center"></p>
                </div>
            </div>
        </a>
    </div>
    <!-- <div class="col-sm-6 col-lg-4">
        <a href="#/Users" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.activeUsers}}<strong> </h1>
                    <p class="text-center">Active Users</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4">
        <a href="#/API-Log" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.apiRequest}}<strong> </h1>
                    <p class="text-center">API Requests</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4">
        <a href="javascript:void(0)" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-content animation-pullDown">
                    <h1 class="text-center"> <strong>{{dObj.diskSpace}}<strong></h1>
                    <p class="text-center">Disk Space</p>
                </div>
            </div>
        </a>
    </div> -->
</div>
<!-- END Mini Top Stats Row -->
<!-- 
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-extra themed-background-dark">
                <h3 class="widget-content-light" style="margin:10px;">
                     Last <strong>Activity</strong>
                 </h3>
            </div>
            <div class="widget-extra">

                <div class="timeline">


                    <ul class="timeline-list">
                        <li class="active" ng-repeat="activity in dashboard.lastActivities">
                            <div class="timeline-icon "><i class="fa fa-clock-o"></i></div>
                            <div class="timeline-time"><small>{{activity.time}}</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href><strong>{{activity.name}}</strong></a></p>
                                <p class="push-bit">{{activity.desc}}</p>
                            </div>
                        </li>
                    </ul>


 
                    <ul class="timeline-list">
                        <li class="active">
                            <div class="timeline-icon themed-background-fire themed-border-fire"><i class="fa fa-clock-o"></i></div>
                            <div class="timeline-time"><small>just now</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Jordan Carter</strong></a></p>
                                <p class="push-bit">The trip was an amazing and a life changing experience!!</p>
                            </div>
                        </li>
                        <li class="active">
                            <div class="timeline-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="timeline-time"><small>5 min ago</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Administrator</strong></a></p>
                                <strong>Free courses</strong> for all our customers at A1 Conference Room - 9:00 <strong>am</strong> tomorrow!
                            </div>
                        </li>
                        <li class="active">
                            <div class="timeline-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="timeline-time"><small>15 min ago</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Jordan Carter</strong></a></p>
                                <p class="push-bit">The trip was an amazing and a life changing experience!!</p>
                            </div>
                        </li>
                        <li class="active">
                            <div class="timeline-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="timeline-time"><small>25 min ago</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Administrator</strong></a></p>
                                <strong>Free courses</strong> for all our customers at A1 Conference Room - 9:00 <strong>am</strong> tomorrow!
                            </div>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>
</div>
 -->
