<div id="login-container" class="animation-fadeIn">
    <!-- Login Title -->
    <div class="login-title text-center">
    <img src="images/logo.png" style="height:84px">
        <h1 style="margin:10px 0px"><!-- <i class="gi gi-flash"></i> --> <strong>eSahai Login</strong>
        <!-- <img src="images/logo.png" height="100%"> -->
        </h1>

    </div>
    <!-- END Login Title -->

    <!-- Login Block -->
    <div class="block push-bit">
        <!-- Login Form -->
        <form  id="form-login" class="form-horizontal form-bordered form-control-borderless">
            <div class="form-group">
                <div class="col-xs-12" ng-class="(err.email == true) || (err.email_cdn == true) ? 'has-error' : 'has-primary' ">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                        <input type="text" ng-model="login.email" id="login-email" name="login-email" class="form-control input-lg" ng-keyup="evaluateKey(login.email)" placeholder="Email" ng-focus="err.email=false;err.email_cdn=false;">
                    </div>
                    <div>
                        <span class="text-danger txt" ng-show="err.email">Please enter email address</span>
                         <span class="text-danger txt" ng-show="err.email_cdn">Please enter valid email address</span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-init="pswStatus = 'password'">
                <div class="col-xs-12" ng-class="(err.password == true) ? 'has-error' : 'has-primary' ">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                        <input type="{{pswStatus}}" ng-model="login.password" id="login-password" name="login-password" class="form-control input-lg" placeholder="Password" ng-focus="err.password=false;">
                    </div>
                    <div>
                        <span class="text-danger txt" ng-show="err.password">Please enter password</span>
                    </div>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-4">
                    <label class="switch switch-primary">
                        <input type="checkbox" id="login-remember-me" name="login-remember-me" checked ng-model="showPsw" ng-change="(showPsw) ? pswStatus = 'text' : pswStatus = 'password' ">
                        <span></span>
                    </label>
                </div>
                <div class="col-xs-8 text-right">
                    <button type="submit" class="btn btn-sm btn-primary" ng-click="adminLogin();"><i class="fa fa-angle-right"></i> Login to Dashboard</button>
                </div>
            </div>
<!--             <div class="form-group">
                <div class="col-xs-12 text-center">
                    <a href="javascript:void(0)" id="link-reminder-login"><small>Forgot password?</small></a>
                </div>
            </div> -->
        </form>
        <!-- END Login Form -->

        <!-- Reminder Form -->
        <form action="login_full.html#reminder" method="post" id="form-reminder" class="form-horizontal form-bordered form-control-borderless display-none">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                        <input type="text" id="reminder-email" name="reminder-email" class="form-control input-lg" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Reset Password</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <small>Did you remember your password?</small> <a href="javascript:void(0)" id="link-reminder"><small>Login</small></a>
                </div>
            </div>
        </form>
        <!-- END Reminder Form -->

    </div>
    <!-- END Login Block -->
</div>