<div class="block full">
    <div class="block-title">
        <div class="col-xs-12" style="padding:2px;">
            <div class="col-xs-6">
                <button type="button" class="btn" style="background:#7BBD28">Free <span class="badge">{{freeCount}}</span></button>
                <button type="button" class="btn" style="background:#ef1e08">On-Trip <span class="badge">{{onRouteCount}}</span></button>
                <button type="button" class="btn" style="background:#808080">Offline <span class="badge">{{offlineCount}}</span></button>
                <!-- <button class="btn btn-primary btn-sm" ng-click="refresh()"> <i class="fa fa-refresh"></i></button> -->
                <a href><img src="images/home.png" ng-click="refresh()"></a>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-5">
                    <select class="form-control " size="1" ng-model="bookingObj" ng-change="trackConfirmedBooking(bookingObj);hospital = false;hospitalStatus=false;reset=false;selectedHospital='';countObj1=0;countObj2=0;countObj3=0" ng-class="(err.group_id==true) ? 'justBorder' : '' " ng-focus="err.group_id=false ">
                        <option value="">- Completed Bookings -</option>
                        <option ng-repeat="booking in confirmedBookingList" value={{booking}}>{{booking.booking_id}}</option>
                    </select>
                </div>
                <div class="col-xs-7">
                    <div class="col-xs-8 from-control" style="padding:5px" ng-hide="hospital">
                        <label>Show Hospitals
                            <input type="checkbox" ng-model="hospital" ng-change="getHospitalsList(hospital);reset=false;">
                        </label>
                    </div>
                    <div class="col-xs-8" ng-show="hospital">
                        <select class="form-control " size="1" ng-model="selectedHospital" ng-change="trackHospital(selectedHospital);;reset=false;" ng-class="(err.group_id==true) ? 'justBorder' : '' " ng-focus="err.group_id=false ">
                            <option value="">- Select Hospital -</option>
                            <option ng-repeat="hospital in hospitalsList" value={{hospital}}>{{hospital.group_name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <ng-map zoom="10" center="{{center}}" style="height:520px">
            <traffic-layer></traffic-layer>
            <marker id="{{hospital.id}}" ng-repeat="hospital in hospitalObj" position="{{hospital.pos}}" icon="{{hospital.image}}" ng-if="hospitalStatus" on-click="showDetail1(hospital)"></marker>
            <info-window id="foo-iwh" ng-if="hospitalStatus">
                <div ng-non-bindable="">
                    Hospital Name : {{hospital.group_name}}
                    <br/>Type : {{hospital.groupTypeName}}
                    <br> Address : {{hospital.group_address}}
                    <br>
                </div>
            </info-window>
            <custom-marker id="{{ambulance.ambulance_number}}" ng-repeat="ambulance in ambulanceList" icon="images/red.png" position="{{ambulance.pos}}" on-click="showDetail(ambulance)" ng-if="booking_id == null && !hospitalStatus || hospital">
                <div id="{{ambulance.style}}">
                    {{ambulance.ambulance_number}}
                </div>
            </custom-marker>
            <info-window id="foo-iw">
                <div ng-non-bindable="">
                    Driver Name : {{ambulance.driver_name}}
                    <br/>Mobile : {{ambulance.ambulance_mobile}}
                    <br/>Group : {{ambulance.group}}
                    <br/> Vehicle : {{ambulance.vehicleTypeName}}
                    <br>
                </div>
            </info-window>
            <!-- <marker ng-if="booking_id != null && !hospitalStatus || hospital" position="{{mover}}" icon="{{mover_icon}}" on-click="vm.toggleBounce()" animation="DROP" title="hospital"></marker> -->
            <marker id="{{mover.id}}" ng-repeat="mover in moverObj track by $index" ng-if="booking_id != null && !hospitalStatus" position="{{mover.pos}}" on-click="showDetail2(mover)"></marker>
            <info-window id="mover-info">
                <div ng-non-bindable="">
                    Status : {{mover.bookingStatus}}
                    <!-- Status : {{mover.bookingStatus}} -->
                    <!-- Status : {{mover.bookingStatus}} -->
                    <span ng-if="mover.flag == 'emergency'"> 
                    <br/>ETA to Emergency : {{mover.ETA.duration.text}}
                    <br/></span>
                    <span ng-if="mover.flag == 'hospital' && mover.bookingStatus != 'Trip Closed' && mover.bookingStatus != 'Reached Destination'"> 
                    <br/>ETA to Hospital : {{mover.ETA.duration.text}}
                    <br/></span>
                    <!-- <br/> ETA :{{mover.ETA.duration.text}}
                    <br/> Distance :{{mover.ETA.distance.text}} -->
                </div>
            </info-window>
            <directions draggable="false" travel-mode="DRIVING" origin="{{trackObj.origin}}" destination="{{trackObj.destination}}" waypoints="{{trackObj.waypoints}}" ng-if="booking_id != null && !hospitalStatus" suppress-markers="true">
            </directions>
            <marker id="{{custom.state}}" ng-repeat="custom in customMarkerList" position="{{custom.pos}}" icon="{{custom.image}}" ng-if="booking_id != null && !hospitalStatus" on-click="showCustomInfo(custom)"></marker>
            <info-window id="custom-info" ng-if="booking_id != null && !hospitalStatus">
                <div ng-non-bindable="">
                    <span ng-if="custom.state == 'emergency'">Customer Name : {{custom.customer_name}}
                    <br/>Emergency Type : {{custom.emergency_type}}
                    <br/>Mobile : {{custom.patient_number == 0 ? custom.customer_mobile : custom.patient_number }}             
                    <br></span>
                    <span ng-if="custom.state == 'ambulance'">Driver Name : {{custom.driver_name}}
                    <br/>Ambulance No. : {{custom.ambulance_no}}
                    <br/>Vehicle Type : {{custom.vehicle_type}}
                    <br/>Driver Mobile : {{custom.driver_mobile}}
                    <br></span>
                    <span ng-if="custom.state == 'hospital'">Hospital Name : {{custom.hospital_name}}
                    <br></span>
                </div>
            </info-window>
            <!-- <custom-marker id="start" position="{{trackObj.origin}}" ng-if="booking_id != null && !hospitalStatus">
                 <img src="images/siren.png" /> 
            </custom-marker>
            <custom-marker id="end" position="{{trackObj.destination}}" ng-if="booking_id != null && !hospitalStatus">
                <img src="images/ambulance.png" /> 
            </custom-marker> -->
            <!-- <custom-marker id="end" position="{{trackObj.destination}}" ng-if="booking_id != null && !hospitalStatus">
                <img src="images/ambulance.png" /> 
            </custom-marker> -->
        </ng-map>
    </div>
</div>
