<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row datev" onsubmit="return false;" enctype="multipart/form-data" novalidate>
        <div class="col-xs-12">
            <div class="form-group" ng-class="(err.know_by == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label" for="know_by">Come To Know By</label>
                <div class="col-md-5">
                    <input type="text" ng-model="com.know_by" ng-focus="err.status=false;" id="know_by" name="know_by" class="form-control" placeholder="Enter know_by name..">
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.know_by">Please enter how you Come To Know By.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="status">Status</label>
                <div class="col-md-5">
                    <label class="switch switch-primary">
                        <input type="checkbox" ng-model="com.status"><span></span></label>
                    <span ng-show="com.status">Yes</span>
                    <span ng-hide="com.status">No</span>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-md-12 col-md-offset-3">
                    <button class="btn btn-md btn-primary" ng-click="saveComeToKnowBy(com)" style="width:100px;" ng-show="page.type == 'post'"> Save</button>
                    <button class="btn btn-md btn-primary" ng-click="updateComeToKnowBy(com)" style="width:100px;" ng-show="page.type == 'put'"> Update</button>
                    <button class="btn btn-md btn-warning" ng-click="cancel();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
