<div class="block">
    <div class="block-title">
        <h2><strong>FAQ</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label" for="appId">Question</label>
                <div class="col-md-10">
                    <input type="text" ng-model="faq.question" name="appId" class="form-control" placeholder="Question..">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="example-textarea-input">Answer</label>
                <div class="col-md-10">
                    <textarea id="example-textarea-input" ng-model="faq.answer" name="example-textarea-input" rows="9" class="form-control" placeholder="Answer.."></textarea>
                </div>
            </div>
         <!--    <div class="form-group">
                <div class="form-group form-actions">
                    <label class="col-md-2 control-label" for="example-textarea-input">Type</label>
                    <div class="col-md-10" style="padding-top:5px;">
                        <input type="checkbox" ng-model="faq.faqType1" />Android
                        <input type="checkbox" ng-model="faq.faqType2" />iOS
                    </div>
                </div>
            </div> -->
            <div class="form-group" style=" padding-left:80px">
                <div class="col-md-10">
                    <label>
                        <input type="radio" ng-model="faq.app_id" value="customer"> Customer
                    </label>
               
              
                    <label>
                        <input type="radio" ng-model="faq.app_id" value="ambulance"> Ambulance
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group form-actions">
                <div class="col-md-10 col-md-offset-2">
                    <button class="btn btn-md btn-primary" ng-click="saveFAQ(faq);" ng-show="page.type == 'post'" style="width:100px;"> Save </button>
                    <button class="btn btn-md btn-primary" ng-click="updateFAQ(faq);" ng-show="page.type == 'put'" style="width:100px;"> Update </button>
                    <button class="btn btn-md btn-warning" ng-click="cancelFAQ()" style="width:100px;"> Cancel </button>
                </div>
            </div>
        </div>
    </form>
</div>
