<div class="block">
    <!-- Simple Editor Title -->
    <div class="block-title">
        <h2><strong> {{page.title}}</strong> </h2>
    </div>
    <!-- END Simple Editor Title -->
    <!-- Simple Editor Content -->
    <form class="form-horizontal form-bordered">
        <!-- Bootstrap WYSIWYG5 (class is initialized in js/app.js -> uiInit()) -->
        <div class="form-group">
            <div class="col-xs-12">
                <textarea data-ng-model="privacy_and_policy" data-ck-editor></textarea>
            </div>
        </div>
        <div class="form-group form-actions">
            <div class="col-xs-12 text-center">
                <button type="button" ng-if="page.type == 'put'" class="btn btn-sm btn-primary" ng-click="updatePolicy(privacy_and_policy);"> Update</button>
                <button type="reset" class="btn btn-sm btn-warning" ng-click="cancelPolicy();">
                    </i> Cancel</button>
            </div>
        </div>
    </form>
    <!-- END Simple Editor Content -->
</div>
<!-- END Simple Editor Block -->

