<div class="block full">
    <!-- Default Style Title -->
    <div class="block-title">
        <button  class="btn btn-success btn-sm pull-right" style="margin:5px;width:100px;" ng-click="updatePrivacyPolicy();">Edit</button>
        <h2><strong>Privacy & Policies</strong></h2>
    </div>
    <br>
    <div id="privacyAndPolicy" style="word-wrap: break-word;"></div>
</div>


