<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Title</div>
                <div class="box2 col-xs-6">{{promo.title}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Desription</div>
                <div class="box2 col-xs-6">{{promo.description}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Start Date</div>
                <div class="box2 col-xs-6">{{promo.start_date}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">End Date</div>
                <div class="box2 col-xs-6">{{promo.end_date}}</div>
            </div>
        </div>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-12">Banner Image</div>
                <div class="box2 col-xs-12">
                    <img src="{{promo.banner_path}}" style="height: 200px;  width: 400px;"></div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-warning " ng-click="cancel(); " style="width:100px; "> Back</button>
                </div>
            </div>
        </div>
    </form>
</div>
