<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row datev" onsubmit="return false;" enctype="multipart/form-data" novalidate>
        <div class="col-xs-12">
            <div class="form-group" ng-class="(err.title == true) ||(err.title_cdn == true) || (err.title_cdn1 == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="title">Title</label>
                <div class="col-md-5">
                    <input type="text" ng-model="pb.title" name="title" ng-focus="err.title=false;err.title_cdn=false;err.title_cdn1=false;" class="form-control" placeholder="Enter Title.." ng-disabled="page.type == 'put'">
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.title">Please enter title name.</span>
                    <span class="text-danger" ng-show="err.title_cdn">Please enter valid title name.</span>
                    <span class="text-danger" ng-show="err.title_cdn1">Title name should not exceed than 255 characters.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.description == true) || (err.description_cdn== true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="description">Description</label>
                <div class="col-md-5">
                    <input type="text" ng-model="pb.description" ng-focus="err.description=false;err.description_cdn=false;" name="title" class="form-control" placeholder="Enter description.." ng-disabled="page.type == 'put'">
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.description">Please enter  description.</span>
                    <span class="text-danger" ng-show="err.description_cdn">Description should not exceed than 255 characters.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.fromDate == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="start_date">Start Date</label>
                <div class="col-md-5" ng-init="selectedCal1=false;">
                    <div class="input-group">
                        <input type="text" id="startdate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="pb.fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" placeholder="From date" call-date="selectedCal1">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.fromDate">Please enter start date.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.toDate == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="end_date">End Date</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" id="enddate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="pb.toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.toDate">Please enter end date.</span>
                </div>
            </div>
            <div class="form-group" ng-show="page.type != 'put'">
                <label class="col-md-2 control-label" for="uploadFile">Promo Banner</label>
                <div class="form-group" ng-class="(err.image_url == true) ? 'has-error' : 'has-primary'" ng-hide="true">
                    <div class="col-md-5">
                        <input type="file" file-model="image_url" ng-model="pb.image_url" ng-focus="err.image_url=false;" id="uploadFile" name="uploadFile" class="form-control" accept="image/*" placeholder="Enter display name..">
                    </div>
                    <div class="col-md-4">
                        <span class="text-danger" ng-show="err.image_url">Please upload banner image.</span>
                    </div>
                </div>
                <div>
                    <div class="col-md-5">
                        <span class="glyphicon glyphicon-pencil" id="editBanner" ng-click="chooseFile()" ng-if="page.type != 'put'">
                        </span>
                        <img name="imageName" class="imageName" id="imageName" src="#" ng-click="chooseFile()">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="activeStatus">Status</label>
                <div class="col-md-5">
                    <label class="switch switch-primary">
                        <input type="checkbox" ng-model="pb.status"><span></span></label>
                    <span ng-show="pb.status">Active</span>
                    <span ng-hide="pb.status">InActive</span>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-md-12 col-md-offset-3">
                    <button class="btn btn-md btn-primary" ng-click="saveBanner(pb)" style="width:100px;" ng-show="page.type == 'post'"> Save</button>
                    <button class="btn btn-md btn-primary" ng-click="updatePromoBanner(pb)" style="width:100px;" ng-show="page.type == 'put'"> Update</button>
                    <button class="btn btn-md btn-warning" ng-click="cancel();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
