
<div class="block full">
    <div class="block-title">
        <h2 style="width:100%;"> <div class="col-sm-3"><strong>Promo Banners</strong></div>
       
            </h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows"> </select>
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewBanner();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!promosList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng- class="(orderByField!='title') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='title'; reverseSort = !reverseSort">Title</a></th>
                    <th ng- class="(orderByField!='description') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='description'; reverseSort = !reverseSort">Description</a></th>
                    <th ng- class="(orderByField!='start_date') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='start_date'; reverseSort = !reverseSort">Start Date</a></th>
                    <th ng-class="(orderByField!='end_date')? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='end_date'; reverseSort = !reverseSort">End Date</a></th>
                    <!--  <th ng-class="(orderByField!='status') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='status'; reverseSort = !reverseSort">Status</a></th> -->
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,promo) in promosList.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{promo.title}}</td>
                    <td>{{promo.description}}</td>
                    <td>{{promo.start_date |  date : "yyyy-MM-dd"}}</td>
                    <td>{{promo.end_date  |  date : "yyyy-MM-dd"}}</td>
                    <!--                     <td>{{promo.status}}</td>
 -->
                    <td class="text-center">
                        <div>
                            <a href ng-click="viewPromo(promo);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a href ng-click="editPromo(promo);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                            <a hidden="" ng-if="(admin.userType != 'EMPLOYEE' &&  admin.userType != 'promo CARE EXECUTIVE') && promo.is_active != 'InActive' " href ng-click="deletePromo(promo);"><span class="fa fa-trash" aria-hidden="true"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="!promosList.length">
            <h3>No promos has been added.</h3> </div>
        <div class="text-center" ng-show="promosList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>

