<div class="block">
    <div class="block-title">
        <h2><strong>Rate Card</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group" ng-class="(err.main_content == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="main_content">Template</label>
                <div class="col-md-8">
                    <textarea data-ck-editor data-ng-model="rateCardObj.main_content"></textarea>
                </div>
                <div class="col-md-2">
                    <span class="text-danger" ng-show="err.main_content">Please enter main content.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.start_date == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="start_date">Start Date</label>
                <div class="col-md-5" ng-init="selectedCal1=false;">
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="rateCardObj.start_date" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;err.start_date=false" placeholder="Enter start date" call-date="selectedCal1">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.start_date">Please enter start date.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.end_date == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="end_date">End Date</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="rateCardObj.end_date" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;err.end_date=false" placeholder="Enter end date" call-date="selectedCal2">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="text-danger" ng-show="err.end_date">Please enter end date.</span>
                </div>
            </div>
            <div class="form-group" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-2 control-label" for="activeStatus">Status</label>
                <div class="col-md-5">
                    <label class="switch switch-primary">
                        <input type="checkbox" ng-model="rateCardObj.status"><span></span></label>
                    <span ng-show="rateCardObj.status">Active</span>
                    <span ng-hide="rateCardObj.status">InActive</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button class="btn btn-md btn-primary" ng-click="saveRateCard(rateCardObj);" style="width:100px;" ng-show="page.type == 'post'"> Save</button>
                    <button class="btn btn-md btn-primary" ng-click="updateRateCard(rateCardObj);" style="width:100px;" ng-show="page.type == 'put'"> Update</button>
                    <button class="btn btn-md btn-warning" ng-click="cancel();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
