<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>SMS Logs</strong></h2> </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows"> </select>
                </label>
            </div>
        </div>
     <!--   <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" class="datepickerRest1 form-control" data-date-end-date="+0d" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" placeholder="From date" call-date="selectedCal1" ng-change="getSMSLogs()" readonly>
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" class="datepickerRest2 form-control" data-date-end-date="+0d" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getSMSLogs()" readonly>
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>-->
	<div class="col-sm-2">
    <div class="dataTables_length" id="example-datatable_length">
        <label>
            <div class="input-group">
                <input type="text" id="startdate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" data-date-end-date="+0d" placeholder="From date" call-date="selectedCal1" ng-change="getSMSLogs()">
                <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
            </div>
        </label>
    </div>
</div>
<div class="col-sm-2">
    <div class="dataTables_length" id="example-datatable_length">
        <label>
            <div class="input-group">
                <input type="text" id="enddate" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-end-date="+0d" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getSMSLogs()">
                <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
            </div>
        </label>
    </div>
</div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <!-- <div class="col-sm-2" ng-if="admin.userType != 'EMPLOYEE'">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewCustomerMaster();">Add New</button> 
        </div> -->
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!smsLogsList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng- class="(orderByField!='mobile') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='mobile'; reverseSort = !reverseSort">Mobile</a></th>
                    <th ng- class="(orderByField!='message') ? 'sorting' : (reverseSort ?'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='message'; reverseSort = !reverseSort">Message</a></th>
                    <th ng-class="(orderByField!='created_datetime') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='created_datetime'; reverseSort = !reverseSort">Created Date</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,sms) in smsLogsList.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{sms.mobile}}</td>
                    <td>{{sms.message}}</td>
                    <td>{{sms.created_datetime}}</td>
                    <!--   <td>{{customer.device_imei}}</td>
                    <td>{{customer.device_type}}</td>
                    <td>{{customer.device_os}}</td>
                    <td>XXXXX{{customer.device_token[customer.device_token.length-4]}}{{customer.device_token[customer.device_token.length-3]}}{{customer.device_token[customer.device_token.length-2]}}{{customer.device_token[customer.device_token.length-1]}}</td>
                    <td>{{customer.is_active}}</td>
                    <td class="text-center">
                        <div>
                            <a href ng-click="viewCustomerMaster(customer);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a ng-if="admin.userType != 'EMPLOYEE'" href ng-click="editCustomerMaster(customer);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                            <a ng-if="admin.userType != 'EMPLOYEE' && customer.is_active != 'InActive' " href ng-click="deleteCustomerMaster(customer);"><span class="fa fa-trash" aria-hidden="true"></span></a>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="!smsLogsList.length">
            <h3>No sms logs has been added.</h3> </div>
        <div class="text-center" ng-show="smsLogsList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>

<script>
/* $(function() {
    var me = this;
    $('.datepickerRest2').datepicker({
        format: 'yyyy-mm-dd',
	startDate:'+0d',
        endDate: '+0d',
        autoclose: true,
	forceParse: false,
	allowDeselection: false
    }).on("changeDate", function(e) {
        me.datepicker1 = null;
        me.datepicker1 = $(".datepickerRest1").datepicker('setEndDate', e.date);
    });

    $('.datepickerRest1').datepicker({
        format: 'yyyy-mm-dd',
        endDate: '+0d',
        autoclose: true,
	forceParse: false,
	allowDeselection: false
    }).on("changeDate", function(e) {
        me.datepicker2 = null;
        me.datepicker2 = $(".datepickerRest2").datepicker('setStartDate', e.date);
    });

});*/
</script>

