<div class="block">
    <div class="block-title">
        <h2><strong>SMS Setting</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group col-xs-12" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label col-xs-4" for="activeStatus">User</label>
                <div class="col-xs-4">
                    <input type="text" ng-model="sms.User" ng-focus="err.ambulance_number=false;" name="ambulance_number" class="form-control" placeholder="Enter user name..">
                </div>
            </div>
            <div class="form-group col-xs-12" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label col-xs-4" for="activeStatus">Password</label>
                <div class="col-xs-4">
                    <input type="password" ng-model="sms.passwd" ng-focus="err.ambulance_number=false;" name="ambulance_number" class="form-control" placeholder="Enter user password..">
                </div>
            </div>
            <div class="form-group col-xs-12" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label col-xs-4" for="activeStatus">Sender ID</label>
                <div class="col-xs-4">
                    <input type="text" ng-model="sms.sid" ng-focus="err.ambulance_number=false;" name="ambulance_number" class="form-control" placeholder="Enter mobile number..">
                </div>
            </div>
            <div class="form-group col-xs-12" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label col-xs-4" for="activeStatus">Message Type</label>
                <div class="col-xs-4">
                    <select class="form-control " size="1" ng-model="sms.mtype" ng-class="(err.group_id==true) ? 'justBorder' : '' " ng-focus="err.group_id=false ">
                        <option value="">- Select Message Type -</option>
                        <option value="N">Normal Text Message</option>
                        <option value="OL">Unicode Message</option>
                        <option value="R">Ringtone</option>
                        <option value="P">Picture Message</option>
                        <option value="L">LOGO</option>
                        <option value="F">Flash</option>
                        <option value="WP">WapPush</option>
                        <option value="LS">Long SMS</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label col-xs-4" for="activeStatus">Delivery Report</label>
                <div class="col-xs-4">
                    <select class="form-control " size="1" ng-model="sms.DR" ng-class="(err.group_id==true) ? 'justBorder' : '' " ng-focus="err.group_id=false ">
                        <option value="">- Select Delivery Report -</option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary " ng-click="updateSMSSetting(sms); " style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelSMSSetting(); " style="width:100px; "> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
