    <div class="block">
<div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="form-group" ng-class="(err.country == true) ? 'has-error' : 'has-primary' ">
            <label class="col-xs-3 control-label" for="status">Status</label>
            <div class="col-xs-5">
                <input type="text" ng-model="status.status" ng-focus="err.status=false;" name="status" class="form-control" placeholder="Enter status ..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.status">Please enter status.</span>
            </div>
        </div>
      <!--   <div class="form-group" ng-class="(err.short_code == true) ? 'has-error' : 'has-primary'">
            <label class="col-xs-3 control-label" for="short_code">Short Code</label>
            <div class="col-xs-5">
                <input type="text" ng-model="status.short_code" ng-focus="err.short_code=false;" name="code" class="form-control" placeholder="Enter short code ..">
            </div>
            <div class="col-xs-4">
                <span class="text-danger" ng-show="err.short_code">Please enter short code.</span>
            </div>
        </div>
    -->
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveStatus(status);" style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateStatus(status);" style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelStatus();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
      
