<div class="block full">
<!-- Default Style Title -->
<div class="block-title">
    <button class="btn btn-success btn-sm pull-right" style="margin:5px;width:100px;" ng-click="updateTermsConditions();">Edit</button>
    <h2><strong>Terms & Conditions</strong></h2>
</div>

<!-- <div class="row">
	<button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewTermsCondition();">Add New</button>
</div>
 -->
<br>

<div id="termsAndConditions" style="word-wrap: break-word;"></div>

</div>
