<div class="block">
	<div class="block-title">
		<h2><strong>{{page.title}}</strong> </h2>
	</div>

	<form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
		<div class="col-xs-8">

			<div class="form-group" ng-class="(err.appId == true) ? 'has-error' : 'has-primary' ">
				<label class="col-md-3 control-label" for="appId">Select App</label>
				<div class="col-md-5">
					<select class="form-control" size="1" ng-model="user.appId" ng-options="app.appId as app.appName for app in appsList"  ng-change="err.appId = false;">
						<option value="">- Select app -</option>
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div class="col-md-4">
					<span class="text-danger" ng-show="err.appId">Please select APP.</span>
				</div>
			</div>

			<div class="form-group" ng-class="(err.email == true) ? 'has-error' : 'has-primary' ">
				<label class="col-md-3 control-label" for="email">Email</label>
				<div class="col-md-5">
					<input type="text" ng-model="user.email" ng-focus="err.email=false;" name="apple_certificate" class="form-control" placeholder="Enter User Email.." ng-disabled="page.type == 'put'">
				</div>
				<div class="col-md-4">
					<span class="text-danger" ng-show="err.email">Please enter hotspot name.</span>
				</div>
			</div>

			<div class="form-group" ng-class="(err.password == true) ? 'has-error' : 'has-primary' ">
				<label class="col-md-3 control-label" for="password">Password</label>
				<div class="col-md-5">
					<input type="password" ng-model="user.password" ng-focus="err.password=false;" name="password" class="form-control" placeholder="Enter password..">
				</div>
				<div class="col-md-4">
					<span class="text-danger" ng-show="err.password">Please enter Password.</span>
				</div>
			</div>

			<div class="form-group" ng-class="(err.password == true) ? 'has-error' : 'has-primary' ">
				<label class="col-md-3 control-label" for="password">Mobile</label>
				<div class="col-md-5">
					<input type="text" ng-model="user.mobile" ng-focus="err.password=false;" name="password" class="form-control" placeholder="Enter mobile..">
				</div>
				<div class="col-md-4">
					<span class="text-danger" ng-show="err.password">Please enter Password.</span>
				</div>
			</div>

			<!-- <div class="form-group" ng-class="(err.password == true) ? 'has-error' : 'has-primary' ">
				<label class="col-md-3 control-label" for="password">Token</label>
				<div class="col-md-5">
					<input type="text" ng-model="user.token" ng-focus="err.password=false;" name="password" class="form-control" placeholder="Enter token..">
				</div>
				<div class="col-md-4">
					<span class="text-danger" ng-show="err.password">Please enter Password.</span>
				</div>
			</div> -->

			<div class="form-group" ng-class="(err.password == true) ? 'has-error' : 'has-primary' ">
				<label class="col-md-3 control-label" for="password">Social Token</label>
				<div class="col-md-5">
					<input type="text" ng-model="user.socialToken" ng-focus="err.password=false;" name="password" class="form-control" placeholder="Enter social token..">
				</div>
				<div class="col-md-4">
					<span class="text-danger" ng-show="err.password">Please enter Password.</span>
				</div>
			</div>

			<div class="form-group" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
				<label class="col-md-3 control-label" for="activeStatus">Is Verified</label>
					<div class="col-md-5">
					<label class="switch switch-primary"><input type="checkbox" ng-model="user.isVerified"><span></span></label>
					<span ng-show="user.isVerified">Yes</span>
					<span ng-hide="user.isVerified">No</span>
				</div>
			</div>

				<div class="form-group" ng-class="(err.activeStatus == true) ? 'has-error' : 'has-primary' ">
				<label class="col-md-3 control-label" for="activeStatus">User Status</label>
				<div class="col-md-5">
					<label class="switch switch-primary"><input type="checkbox" ng-model="user.userStatus" ><span></span></label>
					<span ng-show="user.userStatus">Active</span>
					<span ng-hide="user.userStatus">InActive</span>
				</div>
			</div>



		</div>

		<div class="col-xs-12">
			<div class="form-group form-actions">
				<div class="col-md-9 col-md-offset-3">
					<button class="btn btn-md btn-primary" ng-click="updateUserObj(user);" style="width:100px;"> Update</button>
					<button class="btn btn-md btn-warning" ng-click="cancelUser();" style="width:100px;"> Cancel</button>
				</div>
			</div>
		</div>
	</form>
		
</div>
