<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-6" style="margin:15px 0px">
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Email</div>
                <div class="box2 col-xs-6">{{user.email}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Password</div>
                <div class="box2 col-xs-6">{{user.password}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">First Name</div>
                <div class="box2 col-xs-6">{{user.firstName}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Last Name</div>
                <div class="box2 col-xs-6">{{user.lastName}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">Display Name</div>
                <div class="box2 col-xs-6">{{user.displayName}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">User Type</div>
                <div class="box2 col-xs-6">{{user.userTypeName}}</div>
            </div>
            <div class="col-xs-12 noPad bb">
                <div class="box1 col-xs-6">User Status</div>
                <div class="box2 col-xs-6">{{user.isActive}}</div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-warning " ng-click="cancelUser();" style="width:100px;"> Back</button>
                </div>
            </div>
        </div>
    </form>
</div>


