<div class="block">
    <div class="block-title">
        <h2><strong>{{page.title}}</strong> </h2>
    </div>
    <form class="form-horizontal form-bordered row" onsubmit="return false;" novalidate>
        <div class="col-xs-12">
            <div class="form-group col-xs-6" ng-class="(err.email == true) ? 'has-error' : (err.email_cdn == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="email">Email</label>
                <div>
                    <input type="text" ng-model="user.email" ng-focus="err.email=false;err.email_cdn=false;" class="form-control" placeholder="Enter User Email.." ng-disabled="user.userId == admin.userId"> 
                </div>
                <div>
                    <span class="text-danger" ng-show="err.email">Please enter email .</span>
                    <span class="text-danger" ng-show="err.email_cdn">Please enter valid email address</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="(err.password == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="password">Password</label>
                <div>
                    <input type="password" ng-model="user.password" ng-focus="err.password=false;err.password_cdn=false;" class="form-control" placeholder="Enter password..">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.password">Please enter Password.</span>
                    <span class="text-danger" ng-show="err.password_cdn">Please enter password between 5 to 8 characters.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group col-xs-6" ng-class="(err.firstName == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="firstName">First Name</label>
                <div>
                    <input type="text" ng-model="user.firstName" ng-focus="err.firstName=false;" name="firstName" class="form-control" placeholder="Enter first name..">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.firstName">Please enter first name.</span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="(err.lastName == true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="lastName ">Last Name</label>
                <div>
                    <input type="text" ng-model="user.lastName" name="lastName" ng-focus="err.lastName=false;" class="form-control" placeholder="Enter last name..">
                </div>
                <div>
                    <span class="text-danger" ng-show="err.lastName">Please enter last name.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="form-group col-xs-6" ng-class="(err.displayName==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label" for="displayName">Display Name</label>
                <div>
                    <input type="text" ng-model="user.displayName" ng-focus="err.displayName=false;" name="displayName " class="form-control" placeholder="Enter display name.. ">
                </div>
                <div>
                    <span class="text-danger " ng-show="err.displayName ">Please enter display name.</span>
                </div>
            </div>
            <!-- <pre>{{user.userType}}</pre> -->
            <div class="form-group col-xs-6 " ng-class="(err.userType==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label " for="deviceOs ">User Type</label>
                <div>
                    <select class="form-control " size="1" ng-model="user.userType" ng-class="(err.userType==true) ? 'justBorder' : '' " ng-focus="err.userType=false" ng-change="user.group_id = ''">
                        <option value="">- Select User Type -</option>
                        <option ng-repeat="userType in userTypeList" value={{userType.id}}>{{userType.type_name}}</option>
                    </select>
                </div>
                <div>
                    <span class="text-danger " ng-show="err.userType">Please select user type.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="form-group col-xs-6 " ng-class="(err.group_id==true) ? 'has-error' : 'has-primary' " ng-if="user.userType == '3'">
                <label class="control-label " for="deviceOs ">Group</label>
                <div>
                    <select class="form-control " size="1" ng-model="user.group_id" ng-class="(err.group_id==true) ? 'justBorder' : '' " ng-focus="err.group_id=false ">
                        <option value="">- Select Group -</option>
                        <option ng-repeat="group in globalGroupMasterList" value={{group.group_id}}>{{group.group_name}}</option>
                    </select>
                </div>
                <div>
                    <span class="text-danger " ng-show="err.group_id">Please select group.</span>
                </div>
            </div>
            <div ng-if="page.type == 'put'" class="form-group col-xs-6 " ng-class="(err.isActive==true) ? 'has-error' : 'has-primary' ">
                <label class="control-label " for="isActive">User Status</label>
                <div>
                    <label class="switch switch-primary ">
                        <input type="checkbox" ng-model="user.isActive"><span></span></label>
                            <span ng-show="user.isActive">Active</span>
                            <span ng-hide="user.isActive">InActive</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center ">
            <div class="form-group form-actions ">
                <div>
                    <button class="btn btn-md btn-primary" ng-if="page.type=='post'" ng-click="saveUser(user);" style="width:100px; "> Save</button>
                    <button ng-if="page.type=='put'" class="btn btn-md btn-primary" ng-click="updateUserObj(user);" style="width:100px; "> Update</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelUser();" style="width:100px;"> Cancel</button>
                </div>
            </div>
        </div>
</div>
</form>
<!--    <form class="form-horizontal form-bordered row " onsubmit="return false; " novalidate>
        <div class="col-xs-8 ">
            <div class="form-group " ng-class="(err.appId==true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label " for="appId ">Select App</label>
                <div class="col-md-5 ">
                    <select class="form-control " size="1 " ng-model="user.appId " ng-options="app.appId as app.appName for app in appsList "  ng-change="err.appId=f alse; ">
                        <option value=" ">- Select app -</option>
                        <option value=" " ng-if="false "></option>
                    </select>
                </div>
                <div class="col-md-4 ">
                    <span class="text-danger " ng-show="err.appId ">Please select APP.</span>
                </div>
            </div>

            <div class="form-group " ng-class="(err.email==true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label " for="email ">Email</label>
                <div class="col-md-5 ">
                    <input type="text " ng-model="user.email " ng-focus="err.email=false; " name="apple_certificate " class="form-control " placeholder="Enter User Email.. ">
                </div>
                <div class="col-md-4 ">
                    <span class="text-danger " ng-show="err.email ">Please enter hotspot name.</span>
                </div>
            </div>

            <div class="form-group " ng-class="(err.password==true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label " for="password ">Password</label>
                <div class="col-md-5 ">
                    <input type="password " ng-model="user.password " ng-focus="err.password=false; " name="password " class="form-control " placeholder="Enter password.. ">
                </div>
                <div class="col-md-4 ">
                    <span class="text-danger " ng-show="err.password ">Please enter Password.</span>
                </div>
            </div>

            <div class="form-group " ng-class="(err.password==true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label " for="password ">Mobile</label>
                <div class="col-md-5 ">
                    <input type="text " ng-model="user.mobile " ng-focus="err.password=false; " name="password " class="form-control " placeholder="Enter mobile.. ">
                </div>
                <div class="col-md-4 ">
                    <span class="text-danger " ng-show="err.password ">Please enter Password.</span>
                </div>
            </div>

            <div class="form-group " ng-class="(err.password==true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label " for="password ">Social Token</label>
                <div class="col-md-5 ">
                    <input type="text " ng-model="user.socialToken " ng-focus="err.password=false; " name="password " class="form-control " placeholder="Enter social token.. ">
                </div>
                <div class="col-md-4 ">
                    <span class="text-danger " ng-show="err.password ">Please enter Password.</span>
                </div>
            </div>

            <div class="form-group " ng-class="(err.activeStatus==true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label " for="activeStatus ">Is Verified</label>
                    <div class="col-md-5 ">
                    <label class="switch switch-primary "><input type="checkbox " ng-model="user.isVerified "><span></span></label>
                    <span ng-show="user.isVerified ">Yes</span>
                    <span ng-hide="user.isVerified ">No</span>
                </div>
            </div>

                <div class="form-group " ng-class="(err.activeStatus==true) ? 'has-error' : 'has-primary' ">
                <label class="col-md-3 control-label " for="activeStatus ">User Status</label>
                <div class="col-md-5 ">
                    <label class="switch switch-primary "><input type="checkbox " ng-model="user.userStatus " ><span></span></label>
                    <span ng-show="user.userStatus ">Active</span>
                    <span ng-hide="user.userStatus ">InActive</span>
                </div>
            </div>



        </div>

        <div class="col-xs-12 ">
            <div class="form-group form-actions ">
                <div class="col-md-9 col-md-offset-3 ">
                    <button class="btn btn-md btn-primary " ng-click="saveUser(user); " style="width:100px; "> Save</button>
                    <button class="btn btn-md btn-warning " ng-click="cancelUser(); " style="width:100px; "> Cancel</button>
                </div>
            </div>
        </div>
    </form> -->
</div>
