<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>USERS LIST</strong></h2>
    </div>
    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows">
                    </select>
                </label>
            </div>
        </div>
      <!--   <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal1=!selectedCal1;" placeholder="From date" call-date="selectedCal1" ng-change="getUsersList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='yyyy-mm-dd' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="getUsersList()">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div> -->
       	<div class="col-sm-2">
            <button class="btn btn-primary btn-sm" export-file="User_Master_Report" ng-disabled="!usersList.length"> <i class="fa fa-download"></i> Download</button>
        </div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2" ng-if="admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE'">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewUser();">Add New</button>
        </div>
    </div>
    <br>
    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!usersList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <!-- <th ng-class="(orderByField!='userId') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='userId'; reverseSort = !reverseSort">User ID</a></th> -->
                    <th ng-class="(orderByField!='groupName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='groupName'; reverseSort = !reverseSort">Group Name</a></th>
                    <th ng-class="(orderByField!='email') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='email'; reverseSort = !reverseSort">User Email</a></th>
                    <th ng-class="(orderByField!='firstName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='firstName'; reverseSort = !reverseSort">First Name</a></th>
                    <th ng-class="(orderByField!='lastName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='lastName'; reverseSort = !reverseSort">Last Name</a></th>
                    <th ng-class="(orderByField!='password') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='password'; reverseSort = !reverseSort">Password</a></th>
                    <th ng-class="(orderByField!='displayName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='displayName'; reverseSort = !reverseSort">Display Name</a></th>
                    <th ng-class="(orderByField!='userTypeName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='userTypeName'; reverseSort = !reverseSort">User Type</a></th>
                    <th ng-class="(orderByField!='isActive') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='isActive'; reverseSort = !reverseSort">Active Status</a></th>
                    <th class="text-center"><a href>Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,user) in usersList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <!-- <td>{{user.userId}}</td> -->
                    <td>{{user.groupName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.displayName}}</td>
                    <td>{{user.userTypeName}}</td>
                    <td>{{user.isActive}}</td>
                    <td class="text-center">
                        <!--  <button type="button" class="btn btn-sm btn-primary" ng-click="updateUser(user);" style="width:85px;"> Edit </button>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="deleteUser(user);" style="width:85px;">Delete</button> -->
                        <div>
                            <a href ng-click="viewUser(user);"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a ng-if="admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE'" href ng-click="updateUser(user);"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                            <a ng-if="(admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE') && user.userId != admin.userId  &&  user.isActive != 'InActive'" href ng-click="deleteUser(user);"><span class="fa fa-trash" aria-hidden="true"></span></a>
                            <a href ng-if="user.userId == admin.userId && ( admin.userType != 'EMPLOYEE' && admin.userType != 'CUSTOMER CARE EXECUTIVE')" ng-class="{'noPointer':user.userId == admin.userId}" ><span class="fa fa-trash fa-fa-trash-admin" aria-hidden="true"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    <div id="exportable" style="display:none;">
         <table id="example-datatable">
	  <thead>
                <tr>
                    <th ng-class="(orderByField!='groupName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='groupName'; reverseSort = !reverseSort">Group Name</a></th>
                    <th ng-class="(orderByField!='email') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='email'; reverseSort = !reverseSort">User Email</a></th>
                    <th ng-class="(orderByField!='firstName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='firstName'; reverseSort = !reverseSort">First Name</a></th>
                    <th ng-class="(orderByField!='lastName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='lastName'; reverseSort = !reverseSort">Last Name</a></th>
                    <th ng-class="(orderByField!='password') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='password'; reverseSort = !reverseSort">Password</a></th>
                    <th ng-class="(orderByField!='displayName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='displayName'; reverseSort = !reverseSort">Display Name</a></th>
                    <th ng-class="(orderByField!='userTypeName') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='userTypeName'; reverseSort = !reverseSort">User Type</a></th>
                    <th ng-class="(orderByField!='isActive') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='isActive'; reverseSort = !reverseSort">Active Status</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,user) in usersList">
                    <td>{{user.groupName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.displayName}}</td>
                    <td>{{user.userTypeName}}</td>
                    <td>{{user.isActive}}</td>
                </tr>
            </tbody>


	 </table>
    </div>

        <div class="text-center" ng-show="!usersList.length">
            <h3>No app users has been added.</h3>
        </div>
        <div class="text-center" ng-show="usersList.length">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
