
<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>VEHICLE TYPE</strong></h2>
    </div>



    <div class="row" style="margin-bottom:2px;">
        <div class="col-sm-1">
            <div class="dataTables_length selWidth" id="example-datatable_length">
                <label>
                    <select name="example-datatable_length" aria-controls="example-datatable" class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="number as number for number in tableRows">
                    </select>
                </label>
            </div>
        </div>
        <!-- <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="fromDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='mm-dd-yyyy' ng-focus="selectedCal1=!selectedCal1;" placeholder="From date" call-date="selectedCal1" ng-change="changeList(fromDate,toDate)">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal1=!selectedCal1;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dataTables_length" id="example-datatable_length">
                <label>
                    <div class="input-group">
                        <input type="text" data-date-today-btn="linked" data-date-today-highlight="true" class="form-control" ng-model="toDate" data-provide="datepicker" data-date-autoclose="true" data-date-format='mm-dd-yyyy' ng-focus="selectedCal2=!selectedCal2;" placeholder="To date" call-date="selectedCal2" ng-change="changeList(fromDate,toDate)">
                        <label for="date-picker-2" class="input-group-addon btn" ng-click="selectedCal2=!selectedCal2;"><span class="fa fa-calendar"></span></label>
                    </div>
                </label>
            </div>
        </div>
         -->
         <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <div id="example-datatable_filter" class="dataTables_filter">
                <label>
                    <div class="input-group">
                        <input ng-focus="showAlltableRows();" type="search" class="form-control" placeholder="Search" aria-controls="example-datatable" ng-model="userSearch">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span></div>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm pull-right" style="width:100px;" ng-click="addNewVehicleType();">Add New</button>
        </div>
    </div>


    <br>
    

    <div class="table-responsive" style="overflow-y:auto">
        <table id="example-datatable" ng-class="{'opacity':!vehicleTypeList.length}" class="table table-vcenter table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th ng-class="(orderByField!='type_name') ? 'sorting' : (reverseSort ? 'sorting_desc' : 'sorting_asc')"><a href ng-click="orderByField='type_name'; reverseSort = !reverseSort">Vehicle Type</a></th>
                    <th class="text-center"><a href >Operation</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(uKey,vehicleType) in vehicleTypeList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:userSearch | orderBy:orderByField:reverseSort">
                    <td>{{vehicleType.type_name}}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="editVehicleType(vehicleType);" style="width:85px;"> Edit </button>
                            <button type="button" class="btn btn-sm btn-danger"  ng-click="deleteVehicleType(vehicleType);" style="width:85px;">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="!vehicleTypeList.length">
            <h3>No vehicle type has been added.</h3>
        </div>

    <div class="text-center" ng-show="vehicleTypeList.length">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
    </div>

    </div>
</div>
<!-- END Datatables Content -->
